/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
// import quasar variables with overrides
@import './quasar.variables'
@import '../../libraries/quasar/src/css/variables'

// $z-fab                ?= 990
// $z-side               ?= 1000
// $z-marginals          ?= 2000
// $z-fixed-drawer       ?= 3000
$z-fullscreen         		= 1032
// $z-menu               ?= 6000
// $z-top                ?= 7000
// $z-tooltip            ?= 9000
// $z-notify             ?= 9500
// $z-max                ?= 9998
