
/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.q-message-avatar {
	visibility: hidden;
}

.q-message-avatar[src] {
	width:  48px !important;
	visibility: visible;
}

.backdrop-fix .q-drawer__backdrop {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ellipsis-1-line {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.ellipsis-1-line, .ellipsis-2-line, .ellipsis-3-line {
	white-space: normal;
  word-break: break-word;
}

.mdi:before {
	font-size: inherit;
}
