
/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@import './app.variables.styl'
@import '../../libraries/quasar/src/css/normalize'
@import '../../libraries/quasar/src/css/flex-addon'
@import '../../libraries/quasar/src/mixins/*'

@import '../../libraries/quasar/src/components/layout/*'
@import '../../libraries/quasar/src/components/toolbar/*'
@import '../../libraries/quasar/src/components/btn/*'
@import '../../libraries/quasar/src/components/fab/*'
@import '../../libraries/quasar/src/components/breadcrumbs/*'
@import '../../libraries/quasar/src/components/input/*'
@import '../../libraries/quasar/src/components/field/*'
@import '../../libraries/quasar/src/components/toggle/*'
@import '../../libraries/quasar/src/components/tooltip/*'
@import '../../libraries/quasar/src/components/scroll-area/*'
@import '../../libraries/quasar/src/components/item/*'
@import '../../libraries/quasar/src/components/table/*'
@import '../../libraries/quasar/src/components/dialog/*'
@import '../../libraries/quasar/src/components/card/*'
@import '../../libraries/quasar/src/components/bar/*'
@import '../../libraries/quasar/src/components/space/*'
@import '../../libraries/quasar/src/components/carousel/*'
@import '../../libraries/quasar/src/components/img/*'
@import '../../libraries/quasar/src/components/avatar/*'
@import '../../libraries/quasar/src/components/separator/*'
@import '../../libraries/quasar/src/components/tabs/*'
@import '../../libraries/quasar/src/components/badge/*'
@import '../../libraries/quasar/src/components/chat/*'
@import '../../libraries/quasar/src/components/spinner/*'
@import '../../libraries/quasar/src/components/inner-loading/*'
@import '../../libraries/quasar/src/components/select/*'
@import '../../libraries/quasar/src/components/menu/*'

@import '../../libraries/quasar/src/directives/*'
@import '../../libraries/quasar/src/plugins/notify'

@import '../../libraries/quasar/src/css/core/size'
@import '../../libraries/quasar/src/css/core/animations'
@import '../../libraries/quasar/src/css/core/colors'
@import '../../libraries/quasar/src/css/core/elevation'
@import '../../libraries/quasar/src/css/core/helpers'
@import '../../libraries/quasar/src/css/core/mouse'
@import '../../libraries/quasar/src/css/core/orientation'
@import '../../libraries/quasar/src/css/core/positioning'
@import '../../libraries/quasar/src/css/core/touch'
@import '../../libraries/quasar/src/css/core/transitions'

body .quasar-reset, .q-notifications, body > .q-dialog:not(.quasar-reset)
	@import '../../libraries/quasar/src/css/core/visibility'
	@import '../../libraries/quasar/src/css/core/typography'
	@import './quasar.flex.styl'
	@import './quasar.overwrite.styl'
