/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

$primary = #0072da
$z-tooltip = 90000000000000

.text-yeti {
  color: #406a95 !important;
}
.bg-yeti {
  background: #406a95 !important;
}
