/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.text-yeti {
  color: #406a95 !important;
}
.bg-yeti {
  background: #406a95 !important;
}
