/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.contentsDiv,.centerPanel {
	@extend .mx-2;
}
.massEditTable {
	th + th, td + td, th + td, td + th {
	border-left: 0;
	}
}
.massEditContent {
	border-top: 3px solid #404952;
}
@mixin sidebarTransition() {
    -webkit-transition: left ease 0.2s 0.5s, width ease 0.2s 0.5s;
    transition: left ease 0.2s 0.5s, width ease 0.2s 0.5s;
}
.baseContainer {
	.basePanel {
		position: relative;
		margin: 0 0 0 230px;
		padding: 0;
		left: 0;
		z-index: 1030;
		background: $white;
		min-height: 100%;
		@include sidebarTransition();
	}
	.bodyHeader {
		left: 230px;
		@include sidebarTransition();
	}
	&:not(.leftPanelOpen) {
		.basePanel {
			margin-left: 50px;
		}
		.bodyHeader{
			left: 50px;
		}
		.leftPanel.js-expand + .bodyHeader,
		.leftPanel:hover + .bodyHeader {
			left: 230px;
			+ .basePanel {
				left: 180px;
			}
		}
	}
}
.bodyHeader.open, .footerContainer.open {
	left: 210px;
	-webkit-transition: left ease-in-out 0.3s;
	transition: left ease-in-out 0.3s;
}
@media only screen and (max-width: 768px) {
	.baseContainer {
		.basePanel {
			margin: 0 !important;
		}
		.bodyHeader {
			left: 0 !important;
		}
		.leftPanel.js-expand + .bodyHeader {
			left: 230px !important;
			+ .basePanel {
				left: 230px !important;
			}
		}
	}
}