/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.o-breadcrumb {
	&__actions-btn {
		font-size: $font-size-header-button;
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
}