/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.bodyHeader {
  background-color: $y-navbar-background;
  height: $headerHeight;
  top: 0;
  right: 0;
  z-index: 1031;
  -webkit-transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
  transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
  transition-delay: 0.5s;
  @extend .u-remove-dropdown-icon;
  .basicSearchModulesList {
	width: 35px;
  }
  .globalSearchInput {
	width: 500px;
	.btn {
	  width: 40px;
	  @extend .p-1;
	}
	.select2HeaderWidth {
	  min-width: 150px;
	}
  }
  .moduleIcon {
	width: 34px;
	margin: 5px;
  }
  &.menuOpen {
	left: 230px;
  }
  .rightHeader {
    position: relative;
  }
	.headerButton {
	  @extend .ml-2;
	  @extend .px-1;
	  height: $menuItemsHeight;
	  font-size: 17px;
	  [data-fa-i2svg] {
		margin-bottom: 4px;
		&.fa-power-off {
		  margin-bottom: 1px;
		}
	  }
	}
  .headerLinksMails {
	height: fit-content;
	> .btn + .dropdown-toggle {
	  padding-top: 7px;
	  padding-bottom: 7px;
	}
	.dropdown-menu {
	  left: auto;
	  right: 0;
	}
	.btn {
	  @extend .m-0;
	  @extend .px-2;
	  font-size: $font-size-sm;
	}
  }
}
.globalSearchResults .nav li a {
  padding: 10px 0;
}
.widget_header {
  background: $gray-100;
}
.summaryWidgetContainer .widget_header {
  background: #fff;
  margin-bottom: 0px;
}
.remindersNoticeContainer, .remindersNotificationContainer {
  position: fixed;
  right: -380px;
  top: $headerHeight;
  z-index: 1035;
  width: 380px;
  height: $mainViewportHeight;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.4);
  border-left: 1px solid #797979;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: auto;
}
.remindersNoticeContainer.toggled, .remindersNotificationContainer.toggled {
  right: 0px;
}
.remindersContent {
  margin: 5px 8px 0 8px;
}
.remindersNoticeContainer .panel-heading {
  padding: 5px 10px;
  background: #F1F1F1;
}
.activityTypeIcon {
  height: 20px;
}
.remindersNoticeContainer .panel, .remindersNotificationContainer .panel {
  margin-bottom: 10px;
}
.remindersNoticeContainer {
  .panel-body {
	padding: 5px 10px 10px 10px;
  }
  .actionRow a.btn {
	margin-right: 1%;
  }
}
.dropdown-menu.historyList {
  left: auto;
  right: 9px;
}

//navbar search
.navbar {
  //search input
  .globalSearchValue {
    border-top: none;
    border-bottom: none;
  }
  //search mobile btn
  .searchMenuBtn .btn {
    height: $menuItemsHeight;
    font-size: 17px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    [data-fa-i2svg] {
      margin-bottom: 4px;
    }
  }
}

.searchMenu.globalSearchInput,
.navbar .globalSearchInput {
  .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.select2WithButtonWidth {
  padding: 0;
  border: none;
}

//navbar search mobile
.searchMenu {
  .searchMenuBtn {
    .close-label {
      display: none;
    }
  }
  .searchMenuPanel {
    position: fixed;
    left: auto;
    right: -100%;
    top: 50px;
    width: 100%;
    width: calc(100% - 50px);
    color: #fff;
    background-color: lighten($y-navbar-background, 5%);
  z-index: 2000;
    padding: 30px;
    -webkit-transition: right ease-in-out 0.35s;
    transition: right ease-in-out 0.35s;
    @media( max-width: 767px ) {
      width: 100%;
    }
    .close {
      color: inherit;
      text-shadow: none;
      opacity: 1;
      &:hover,
      &:focus {
        color: inherit;
        opacity: .75;
      }
      .label {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}

.searchMenu.toogleSearchMenu {
  .searchMenuBtn {
    .close-label {
      display: inline;
    }
  }
  .searchMenuPanel {
    right: 0;
  }
}

//breadcrumbs
.widget_header {
  .breadcrumb {
    background: none;
  }
  .breadcrumb-item.active {
    color: darken($breadcrumb-active-color, 10%);
  }
}