/*

*/
/* 
    Created on : 2018-01-30, 12:59:54
    Author     : Tomasz Poradzewski
*/
.bodyHeader {
	.basicSearchModulesList {
		width: 35px;
	}

	.dropdown-toggle::after {
		display: none;
	}
	.btn {
		width: 40px;
	}
}




.bodyHeader .rightHeaderBtn {
	margin-top: 7px;
}
.bodyHeader .rightHeaderBtn .glyphicon {
	font-size: 18px;
}
.bodyHeader .rightHeaderBtn .fa,.actionMenu .showHistoryBtn .fa {
	font-size: 21px;
}
.bodyHeader .rightHeaderBtn a {
	margin-left: 5px;
	}
	.bodyHeader .rightHeaderBtn a.quickCreateModule {
	margin: 0;
}
.bodyHeader {
	background-color: $darkblue;
	//color: #fff;
	height: 50px;
	top: 0;
	right: 0;
	z-index: 1031;
	-webkit-transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
	transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
	transition-delay: 0.5s;
}
.bodyHeader .moduleIcon {
	width: 34px;
	margin: 5px;
}
	.bodyHeader.menuOpen {
		left: 230px;
	}

