/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.bodyHeader {
	background-color: $primary;
	height: 50px;
	top: 0;
	right: 0;
	z-index: 1031;
	-webkit-transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
	transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
	transition-delay: 0.5s;
	.basicSearchModulesList {
		width: 35px;
	}

	.dropdown-toggle::after {
		display: none;
	}
	.globalSearchInput {
		width: 500px;
		.btn {
			width: 40px;
			@extend .p-1;
		}
		.select2HeaderWidth {
			min-width: 150px;
		}
	}
	.moduleIcon {
		width: 34px;
		margin: 5px;
	}
	&.menuOpen {
		left: 230px;
	}
}

.headerRightWrapper :not(.chatModal) {
	.btn {
		@extend .ml-2;
		@extend .px-1;
		font-size: 17px;
		height: 32px;
		[data-fa-i2svg] {
			margin-bottom: 4px;
			&.fa-power-off {
				margin-bottom: 1px;
			}
		}
	}
	.headerLinksMails {
		height: fit-content;
		> .btn + .dropdown-toggle {
			padding-top: 7px;
			padding-bottom: 7px;
		}
		.dropdown-menu {
			left: auto;
			right: 0;
		}
		.btn {
			@extend .m-0;
			@extend .px-2;
			font-size: $font-size-sm;
		}
	}
}
.globalSearchResults .nav li a {
	padding: 10px 0;
}
.widget_header {
  background: $gray-200;
}
.summaryWidgetContainer .widget_header {
  background: #fff;
  margin-bottom: 0px;
}
