/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.bodyHeader {
  background-color: $primary;
  height: $headerHeight;
  top: 0;
  right: 0;
  z-index: 1031;
  -webkit-transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
  transition: left ease-in-out 0.3s, z-index 0.3s 0.3s;
  transition-delay: 0.5s;
  @extend .u-remove-dropdown-icon;
  .basicSearchModulesList {
	width: 35px;
  }
  .globalSearchInput {
	width: 500px;
	.btn {
	  width: 40px;
	  @extend .p-1;
	}
	.select2HeaderWidth {
	  min-width: 150px;
	}
  }
  .moduleIcon {
	width: 34px;
	margin: 5px;
  }
  &.menuOpen {
	left: 230px;
  }
  .rightHeader {
	position: relative;
	.headerButton {
	  @extend .ml-2;
	  @extend .px-1;
	  height: $menuItemsHeight;
	  font-size: 17px;
	  [data-fa-i2svg] {
		margin-bottom: 4px;
		&.fa-power-off {
		  margin-bottom: 1px;
		}
	  }
	}
  }
  .headerLinksMails {
	height: fit-content;
	> .btn + .dropdown-toggle {
	  padding-top: 7px;
	  padding-bottom: 7px;
	}
	.dropdown-menu {
	  left: auto;
	  right: 0;
	}
	.btn {
	  @extend .m-0;
	  @extend .px-2;
	  font-size: $font-size-sm;
	}
  }
}
.globalSearchResults .nav li a {
  padding: 10px 0;
}
.widget_header {
  background: $gray-200;
}
.summaryWidgetContainer .widget_header {
  background: #fff;
  margin-bottom: 0px;
}
.remindersNoticeContainer, .remindersNotificationContainer {
  position: fixed;
  right: -380px;
  top: $headerHeight;
  z-index: 1035;
  width: 380px;
  height: $mainViewportHeight;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.4);
  border-left: 1px solid #797979;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: auto;
}
.remindersNoticeContainer.toggled, .remindersNotificationContainer.toggled {
  right: 0px;
}
.remindersContent {
  margin: 5px 8px 0 8px;
}
.remindersNoticeContainer .panel-heading {
  padding: 5px 10px;
  background: #F1F1F1;
}
.activityTypeIcon {
  height: 20px;
}
.remindersNoticeContainer .panel, .remindersNotificationContainer .panel {
  margin-bottom: 10px;
}
.remindersNoticeContainer {
  .panel-body {
	padding: 5px 10px 10px 10px;
  }
  .actionRow a.btn {
	margin-right: 1%;
  }
}
.dropdown-menu.historyList {
  left: auto;
  right: 9px;
}
