/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@include media-breakpoint-up(md) {
	.modal-full {
		max-width: 72%;
	}
}

.modal-fullscreen {
	top: 21px;
	right: 32px;
	left: 0;
	max-width: calc(100% - 50px);
	width: calc(100% - 50px);
	margin-left: 50px;
	margin-right: 0;
}

@media only screen and (max-width: 768px) {
	.modal-fullscreen {
		margin-left: 8px !important;
		max-width: calc(100% - 17px) !important;
		width: calc(100% - 17px) !important;
		top: 42px !important;
	}
}

.modal-blg {
	max-width: 90%;
}

.modal-md {
	max-width: 600px;
}

//styles needed to overwrite default animation
.modal.fade {
	opacity: 1;
}

.modal.fade .modal-dialog {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	transform: translate(0);
}
//
