/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.leftPanel {

	.userDetailsContainer {
		height: 50px;
		padding-right: 0;
		padding-left: 0;
		background-color: #406a95;
	}
	
	position: fixed;
	left: 0;
	top: 0;
	bottom: 33px;
	width: 230px;
	color: $y-menu-font-color;
	z-index: 1030;
	background: $y-menu-background;
	
	.menuContainer .modulesList .menuIcon {
		padding-right: 18px;
		font-size: 1.6em;
		height: 100%;
		min-width: 42px;
	}
	.row {
		padding: 0;
		margin: 0;
	}
	a {
		color: $y-menu-font-color;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
	.menuContainer {
		a {
			border-radius: 0;
			vertical-align: text-top;
			padding: 6px 15px 6px 55px;
			word-wrap: break-word;
			font-size: 16px;
			background: $y-menu-background;
			&:hover, &:focus {
				color: $y-menu-background;
				background: $y-menu-font-color;
			}
			&.hasIcon {
				padding: 8px 12px;
				display: inline-flex;
				width: 100%;
			}
			.menuName {
				top: -1px;
				position: relative;
				word-wrap: break-word;
			}
			&.hasIcon img {
				height: 20px;
			}
			.glyphicon, .fa, &.hasIcon img {
				margin-right: 12px;
				font-size: 20px;
				padding-right: 7px;
				padding-left: 3px;
			}
			.fa {
				position: relative;
				top: 2px;
			}
		}
		.subMenu {
			display: none;
			&.expand {
				display: block;
			}
			background: $y-menu-font-color;
			color: $y-menu-background;
			li.menuLabel > a {
				font-weight: 600;
				text-transform: uppercase;
			}
			button {
				border-width: 0;
				border-radius: 0;
				background: #f0f1f1;
				text-align: left;
				padding-left: 50px;
				&:hover, &:focus {
					color: $y-menu-font-color;
					background: $y-menu-background;
				}
				&.hasIcon {
					padding: 6px 12px;
				}
			}
			a, .menuLabel {
				font-size: 14px;
				color: $y-menu-background;
				background: $y-menu-font-color;
				&:hover, &:focus {
					color: $y-menu-font-color;
					background: $y-menu-background;
				}
				&.hasIcon {
					padding: 6px 12px;
				}
				a {
					padding: 0 !important;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.baseContainer:not(.leftPanelOpen) {
		margin-left: 0px;
	}
}
