/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.baseContainer .leftPanel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 33px;
  width: 230px;
  color: #fff;
  z-index: 1030;
  background: #444853;
  a {
    color: #fff;
  }
  .menuContainer {
    a {
      border-radius: 0;
      vertical-align: text-top;
      padding: 6px 15px 6px 55px;
      word-wrap: break-word;
      font-size: 16px;
      &:hover, &:focus {
        background: $lightgray;
      }
      &.hasIcon {
        padding: 5px 12px;
        display: inline-flex;
        width: 100%;
      }
      .menuName {
        top: -1px;
        position: relative;
        word-wrap: break-word;
      }
    }
    .subMenu {
      a {
        font-size: 16px;
      }
      button {
        border-width: 0;
        border-radius: 0;
        background: #f0f1f1;
        text-align: left;
        padding-left: 50px;
      }
      a {
        &:hover, &:focus {
          color: #fff;
          background: #4a5364;
        }
      }
      button {
        &:hover, &:focus {
          color: #fff;
          background: #4a5364;
        }
      }
      a {
        color: #4a5364;
        &.hasIcon {
          padding: 8px 10px;
        }
      }
      button .hasIcon {
        padding: 8px 10px;
      }
      a .menuName, button .menuName {
        top: 2px;
      }
    }
    a {
      &.hasIcon img {
        height: 20px;
      }
      .glyphicon, .fa, &.hasIcon img {
        margin-right: 12px;
        font-size: 20px;
        padding-right: 7px;
        padding-left: 3px;
      }
      .fa {
        position: relative;
        top: 2px;
      }
    }
  }
}
