/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.c-menu {
	&--container {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 33px;
		width: 230px;
		color: $y-menu-font-color;
		z-index: 1030;
		background: $y-menu-background;

		.row {
			padding: 0;
			margin: 0;
		}

		a {
			color: $y-menu-font-color;

			&:hover {
				text-decoration: none;
				cursor: pointer;
			}

			transition: background-color 0.2s ease;
		}
	}

	&__content {
		a {
			display: inline-flex;
			width: 100%;
			border-radius: 0;
			vertical-align: text-top;
			padding: 8px 30px 8px 55px;
			word-wrap: break-word;
			font-size: 15px;
			line-height: 1.2;
			background: $y-menu-background;

			&:hover, &:focus {
				background: lighten($y-menu-background, 5%);

				.menuName {
					white-space: normal;
				}
			}

			&.active {
				background: darken($y-menu-background, 10%);
			}

			&.hasIcon {
				padding: 8px 30px 8px 12px;
			}

			.menuName {
				padding: 2px 0;
				position: relative;
				word-wrap: break-word;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-rendering: optimizeLegibility;
			}

			&.hasIcon img {
				height: 20px;
			}

			.glyphicon, .fa, &.hasIcon img {
				margin-right: 12px;
				font-size: 20px;
				padding-right: 7px;
				padding-left: 3px;
			}

			.fa {
				position: relative;
				top: 2px;
			}

			position: relative;

			.toggler {
				position: absolute;
				right: 12px;
				font-size: 10px;
				line-height: 24px;

			}

			&.collapsed .toggler {
				.fa-minus-circle {
					display: none;
				}
			}

			&:not(.collapsed) .toggler {
				.fa-plus-circle {
					display: none;
				}
			}
		}

		.tpl-menu-SubMenu,
		.tpl-menu-Profile_submenu {
			background: $y-menu-font-color;
			color: $y-menu-background;

			a {
				font-size: 14px;
				color: $y-menu-background;
				background: $y-menu-font-color;

				&:hover, &:focus {
					background: lighten($y-menu-font-color, 5%);
				}

				&.active {
					background: darken($y-menu-font-color, 5%);
				}

				&.hasIcon {
					padding: 6px 12px;
				}
			}

			.menuLabel > a {
				font-weight: 600;
				text-transform: uppercase;
				padding: 6px 12px;
			}

			button {
				background: darken($y-menu-font-color, 10%);

				&:hover, &:focus {
					color: $y-menu-font-color;
					background: $y-menu-background;
				}

				&.hasIcon {
					padding: 6px 12px;
				}
			}
		}
	}

	&__body {
		height: calc(100% - 50px);
		width: 100%;
		position: relative;

		.modulesList .menuIcon {
			padding-right: 18px;
			font-size: 1.6em;
			height: 100%;
			min-width: 42px;
		}
	}

	&__header {
		height: 50px;
		padding-right: 0;
		padding-left: 0;
		background-color: #406a95;
	}

	&--animation {
		.basePanel,
		.bodyHeader {
			@include u-transition((left ease 0.2s 0.5s));
		}
	}
}

.related {
	.nav-pills {
		border-bottom: 3px solid $y-rtabs-border-color;

		> .nav-item {
			position: relative;
			margin-right: 2px;

			&:last-child {
				margin-right: 0;
			}
		}

		> .nav-item > .nav-link {
			color: $y-rtabs-active-background;
			font-weight: bold;

			span {
				vertical-align: middle;
			}

			.iconModule {
				position: relative;
				top: -2px;
				font-size: 17px;
			}
		}

		.tabdrop {
			width: auto !important;

			.dropdown-toggle {
				display: block;
				font-weight: bold;
				text-transform: capitalize;
				padding: 0.5rem 1rem;
				color: $y-rtabs-active-background;
				background: $y-rtabs-background;

				&:hover {
					text-decoration: none;
				}
			}

			&.show .dropdown-toggle,
			&.active .dropdown-toggle {
				background: $y-rtabs-active-background;
				color: $y-rtabs-active-font-color;
			}
		}

		.active {
			background: $y-rtabs-active-background;
			color: $y-rtabs-active-font-color;
			border-radius: 0;

			> .nav-link {
				color: $y-rtabs-background;
			}
		}

		.dropdown-menu {
			min-width: 300px;
			z-index: 1025;

			.nav-item {
				margin: 0;
				float: none !important;
				background: none;
			}

			.nav-link {
				border-radius: 0;
				font-weight: bold;
			}
		}
	}
}

.related .dropdown-menu .nav-link {
	@extend .dropdown-item;
}

@media only screen and (max-width: 768px) {
	.dropdown-menu {
		max-height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.c-tab {
	&--small {
		display: flex;
		align-items: center;

		@extend .small;
	}

	&--gray {
		background: $y-rtabs-background;
	}

	&--hover:hover {
		background: darken($y-rtabs-background, 10%);
	}
}

.detailViewInfo {
	.dropdown.tabdrop {
		@extend .c-tab--small;
	}

	.dropdown.tabdrop.hide {
		display: none;
	}
}
