/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@font-face {
	font-family: 'DejaVu Sans';
	font-style: normal;
	font-weight: 100;
	src: local('DejaVu Sans'), url('/vendor/yetiforce/yetiforcepdf/lib/Fonts/DejaVuSans-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'DejaVu Sans';
	font-style: normal;
	font-weight: 400;
	src: local('DejaVu Sans'), url('/vendor/yetiforce/yetiforcepdf/lib/Fonts/DejaVuSans.woff') format('woff');
}

@font-face {
	font-family: 'DejaVu Sans';
	font-style: normal;
	font-weight: 700;
	src: local('DejaVu Sans'), url('/vendor/yetiforce/yetiforcepdf/lib/Fonts/DejaVuSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'DejaVu Sans';
	font-style: italic;
	font-weight: 700;
	src: local('DejaVu Sans'), url('/vendor/yetiforce/yetiforcepdf/lib/Fonts/DejaVuSans-BoldOblique.woff') format('woff');
}

@font-face {
	font-family: 'DejaVu Sans';
	font-style: italic;
	font-weight: 400;
	src: local('DejaVu Sans'), url('/vendor/yetiforce/yetiforcepdf/lib/Fonts/DejaVuSans-Oblique.woff') format('woff');
}

.leftRightPadding3p {
	padding-left: 3% !important;
	padding-right: 3% !important;
}

.stepBorder {
	border: 1px solid #ccc;
}

.zIndex1 {
	z-index: 1;
}

.zIndex2 {
	z-index: 2;
}

.zIndex3 {
	z-index: 3;
}

.zIndex4 {
	z-index: 4;
}

.zIndex5 {
	z-index: 5;
}

.zIndex6 {
	z-index: 6;
}

.zIndex7 {
	z-index: 7;
}

.zIndex8 {
	z-index: 8;
}

.overflowXAuto {
	overflow-x: auto;
}

.crumbs li {
	margin-right: 2px !important;
}

.marginRight5px {
	margin-right: 5px;
}

.pdfContainer {
	margin-bottom: 25px;
}

.bgMessage {
	font-weight: bold;
	padding: 25px;
	margin: 25px;
}

.bgOK {
	background-color: #dff0d8 !important;
}

.bgERROR {
	background-color: #f2dede !important;
}
