/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.c-panel {
	border-radius: 0;
	@extend .mb-3;
	input,
	button,
	.input-group-text {
		border-radius: 0;
	}
	box-shadow: -2px 10px 6px 4px rgba (0, 0, 0, 0.13);

	&__header {
		background-color: #fff;
		border: none;
		text-transform: uppercase;
	}
	&--white {
		.c-panel__header {
			border-color: $yf-gray;
		}
	}
}
.contents.tabbable.table-responsive {
	background-color: var(--color-bg) !important;
}

.btn {
	border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
	text-transform: uppercase;
}
.c-mds-input {
	.input-group-append {
		border-bottom: 1px solid $yf-gray !important;
		color: $yf-gray;
	}
}
