RedirectMatch 403 (?i).*\.log$
<IfModule mod_env.c>
	SetEnv HTACCESS_TEST on
</IfModule>
<IfModule mod_autoindex.c>
	Options -Indexes -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteRule ^favicon.ico layouts/basic/images/favicon.ico [L,NC]

	RewriteRule ^webservice/(.*)/(.*)/(.*)/(.*)/(.*)$ webservice.php?_container=$1&module=$2&action=$3&record=$4&param=$5 [QSA,NC,L]
	RewriteRule ^webservice/(.*)/(.*)/(.*)/(.*)$ webservice.php?_container=$1&module=$2&action=$3&record=$4 [QSA,NC,L]
	RewriteRule ^webservice/(.*)/(.*)/(.*)$ webservice.php?_container=$1&module=$2&action=$3 [QSA,NC,L]
	RewriteRule ^webservice/(.*)/(.*)$ webservice.php?_container=$1&action=$2 [QSA,NC,L]

	RewriteRule ^\.well-known/carddav dav.php/addressbooks/ [R]
	RewriteRule ^\.well-known/caldav dav.php/calendars/ [R]
	RewriteRule /.well-known/carddav dav.php/addressbooks/ [R,L]
	RewriteRule /.well-known/caldav dav.php/calendars/ [R,L]
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
	RewriteRule .* - [E=HTTP_CONTENT_TYPE:%{HTTP:Content-Type},L]
</IfModule>
<IfModule mod_headers.c>
	Header unset Server
	Header unset X-Powered-By
	<IfModule mod_env.c>
		SetEnv modHeadersAvailable true
	</IfModule>
</IfModule>
<ifModule ModSecurity.c>
	SecServerSignature ''
</ifModule>
<IfModule mod_dir.c>
	DirectoryIndex index.php
</IfModule>
<Files dav.php>
	<IfModule mod_expires.c>
		ExpiresActive Off
	</IfModule>
	<IfModule mod_php5.c>
		php_flag output_buffering On
		php_flag always_populate_raw_post_data Off
		php_flag mbstring.func_overload 0
	</IfModule>
</Files>
########################
# <FilesMatch "\.(inc|php|php3|php4|php5|php6|phtml|phps)$">
# AddHandler x-httpd-php56 .inc .php .php3 .php4 .php5 .php6 .phtml
# </FilesMatch>
