*.php text eol=lf encoding=UTF-8
*.js text eol=lf encoding=UTF-8
*.html text eol=lf encoding=UTF-8
*.css text eol=lf encoding=UTF-8
*.xhtml text eol=lf encoding=UTF-8
*.tpl text eol=lf encoding=UTF-8
*.sh text eol=lf encoding=UTF-8
*.properties text eol=lf encoding=UTF-8
*.htaccess text eol=lf encoding=UTF-8
*.txt text eol=lf encoding=UTF-8