/_private
/public_html/_private

/cache/*/*
/cache/*/*/*
!/cache/*/index.html
!/cache/*/*/index.html

/config/config_override.php
/config/csrf_secret.php

/layouts/basic/modules/Settings/TestData

/modules/TestData
/modules/Settings/TestData

/user_privileges/cron.php
/user_privileges/owners_colors.php

/public_html/layouts/basic/styles/.sass-cache

# dependencies YETIFORCE
/public_html/modules/OSSMail/roundcube/
/libraries/mPDF/

# dependencies COMPOSER
composer.lock
/vendor/*
!/vendor/php-debugbar
!/vendor/yetiforce
!/vendor/yii

# dependencies YARN
yarn.lock
yarn-error.log
/node_modules/
/public_html/libraries/*
!/public_html/libraries/csrf-magic/
!/public_html/libraries/js/

# IDEs and editors
/.idea
/.buildpath
.c9/
.classpath
.project
*.launch
/nbproject/
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
