*.php text eol=lf 
*.js text eol=lf
*.css text eol=lf
*.less text eol=lf
*.scss text eol=lf
*.sass text eol=lf
*.tpl text eol=lf
*.properties text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.htaccess text eol=lf
*.service text eol=lf
*.html text eol=lf
*.sql text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yarnclean text eol=lf
*.lock text eol=lf
*.yarn-integrity text eol=lf

.github/ export-ignore
tests/ export-ignore
.travis.yml export-ignore
.scrutinizer.yml export-ignore
.sensiolabs.yml export-ignore
