.imageHolder.bigLoading{
	width: 200px;
	margin: auto;
}
.imageHolder.smallLoading{
	width: 100px;
	background: inherit;
	padding: 0;
}
.gridster ul li.dashboardWidget{
	overflow: hidden;
}
.btn-toolbar .btn-group.hide{
	display: none;
}
.dropdown-menu{
	text-align: left;
}
.rightText{
	text-align: right;
}
.defaultMarginP p {
	margin: 0;
}
.spanModuleIcon{
	margin: 0 5px 0 0 !important;
}
.moduleIcon{
	display: block;
	text-align: center;
	height: 64px;
	width: 64px;
	line-height: 64px;
}
.moduleIcon img{
	vertical-align: middle;
}
.mainBlockTable {
	border-radius: 4px 4px 0px 0px;
	background: white;
	margin-bottom: 20px;
}
.mainBlockTableHeader{
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #f6f6f6, #f3f3f4);
	background-image: -ms-linear-gradient(top, #f6f6f6, #f3f3f4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f3f3f4));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #f3f3f4);
	background-image: -o-linear-gradient(top, #f6f6f6, #f3f3f4);
	background-image: linear-gradient(top, #f6f6f6, #f3f3f4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f3f3f4', GradientType=0);
	border-color: #f3f3f4 #f3f3f4 #cbcbcf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0px 1px #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dddddd;
}
.mainBlockTableLabel{
	padding-top: 10px;
	min-height: 28px;
}
.mainBlockTableContent{
	padding:5px;
	min-height: 27px
}
.quickWidgetContainer li.select2-search-choice a.select2-search-choice-close{
	width: 13px;
}
.marginBottom5px {
	margin-bottom: 5px;
}
#headerLinks .headerLinksContainer.headerLinksMails ul.dropdown-menu,
#headerLinks .headerLinksContainer.headerLinksMails ul.dropdown-menu{
	right: -8px;
	left: auto;
}
ul.dropdown-menu{
top: 36px;
}
#headerLinks{
margin-left: 0px;
}
.navbar .nav > li > a{
	line-height: 18px;
}
.navbar nav ul li:hover > ul, .navbar nav ul li:focus > ul, .navbar nav ul li:active > ul, #moreMenu:hover > ul.dropdown-menu {
	display: block;        
}
.navbar nav .dropdown-menu{
	margin-top: -1px;
}
.navbar nav ul li ul li:hover > ul, .navbar nav ul li ul li:focus > ul, .navbar nav ul li ul li:active > ul {
	left: 140px;
	top: 0px;
}
.navbar nav ul li:active {
	background: #404952;
}
.navbar nav ul.dropdown-menu li ul.dropdown-menu:before{
	border:0;
	border-right: 7px solid #ccc;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	top: 5px;
	left: -8px;
}
.navbar nav ul.dropdown-menu li ul.dropdown-menu:after{
	border:0;
	border-right: 6px solid #ffffff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	top: 6px;
	left: -6px;
}
.navbar .nav > li > a{
	color: #ffffff;
}
nav.menu{
	height: 40px;
}
@media (max-width: 1320px) {
	//#OSSMailBoxInfo .mail_user_name{ font-size: 0px;}
	//#OSSMailBoxInfo .mainMail{ font-size: 0px;  height: 16px;}
	#OSSMailBoxInfo .mail_user_name{ background-image: url("../../../layouts/basic/skins/images/Emails.png"); } //background-position: 0px -4px;  width: 23px;  display: block;}
}
@media (max-width: 960px) {
	#headerLinksCompact .navbar-btn{ margin-top: -3px;  margin-right: 8px;}
	#headerLinksBig{display: none;}
	.actionsContainer > .col-md-10 {width: 99.99999998999999%; margin-left: 0;}
}
#commonMoreMenu{
	margin: 0;
	display: inline-block;
	float: none;
}
nav.menu{
	width: 82%;
	display: inline-block;
}
.navbar nav.menu .nav {
margin: 0;
}
#commonMoreMenu ul li a{
	color: #000 !important;
}
#commonMoreMenu ul li a:hover{
	color: #fff !important;
}
#commonMoreMenu .dropdown-menu ul{
	list-style: none;
	margin-left: 5px;
}
#largeNavDiv{
	height: 40px;
}
@media (max-width: 960px) {
nav.menu{width: 80%;}
}
#moreMenu > ul.dropdown-menu{
max-height: 500px;
overflow-x: hidden;
top: 30px;
}
hr.widgetHr{
margin: 4px 0 2px 0;
}
.dashboardWidgetHeader select{
margin: 0px;
padding: 0px;
height: 18px;
font-size: 10px;
font-family: 'Open Sans', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif;
}
.dashboardWidgetHeader select option{
margin-top: 2px;
}
input.input-mini{
margin: 0px;
height: 16px;
padding: 0;
}
.width90{
width: 90%;
}
.margintop3{
margin-top: 3px;
}
.dashboardWidgetHeader .headerCalendar h3{
line-height: 20px;
}
.paddingLR10 {
padding-left: 10px;
padding-right: 10px;
}
.dashboardWidgetContent #calendarview .fc-day-number{
padding-right: 5px;
}
.icon-in-button{
	vertical-align: sub;
}
.quickLinksDiv h6{
	color: #333;
	line-height: 27px;
	font-size: 18px;
	text-transform: capitalize;
}
.dropdown-menu .quickCreateModule{
	white-space: normal;
}
.dashboardWidgetCalendar .fc-content{
margin-top: 5px;
}
.small-select .chzn-container .chzn-single{
height: 15px;
line-height: 15px;
font-size: 10px;
}
.small-select .chzn-container .chzn-single div b{
background-position-y: -4px;
}
.summaryWidgetContainer .widget_header{
padding-bottom: 0;
border-bottom: 0;
}
.summaryWidgetContainer{
padding: 10px;
margin-bottom: 7px;
}
.summaryWidgetContainer .widget_contents{
padding-top: 5px;
}
.table.noStyle th{
background: none;
}
.table.noStyle th,.table.noStyle td{
padding: 0px!important;;
}
