.c-form__action-panel {
	position: fixed;
	bottom: 33px;
	height: 48px;
	width: calc(100% - 50px);
	background: $light;
	margin-left: -10px;
	text-align: center;
	border-top: 1px solid #ddd;
	z-index: 5;
	padding: 5px;

	.btn-group {
		margin-right: 3px;
	}
}

.user-info--active {
	.c-form__action-panel {
		bottom: $h-footer-user-info;
	}

	.verticalScroll {
		height: calc(100vh - 150px);
	}
}

.limited-footer--active {
	.c-form__action-panel {
		bottom: $h-footer-limited;
	}
}

.verticalScroll {
	position: absolute;
	left: 0;
	height: calc(100vh - 128px);
	width: 100%;
	overflow-x: hidden;
	padding-right: 10px;
	padding-left: 10px;
}

@include media-breakpoint-down(sm) {
	.c-form__action-panel {
		bottom: $h-footer-limited;
		width: 100%;
	}

	.verticalScroll {
		height: calc(100vh - 112px);
	}

	.user-info--active {
		.verticalScroll {
			height: calc(100vh - 31px);
		}

		.c-form__action-panel {
			bottom: $h-footer;
		}
	}
}
.inventoryHeader {
	th {
		background: #fff !important;
	}
	.inventoryLineItemHeader,
	button {
		@extend .text-uppercase;
		@extend .rounded-0;
	}
	.select2 {
		@extend .rounded-0;
	}
}
.inventoryItems {
	.inventoryRow {
		@extend .border;
		td {
			@extend .border-bottom-0;
			@extend .border-right-0;
			@extend .border-left-0;
		}
	}
	@extend .bg-white;
	thead {
		th {
			background: #fff !important;
			@extend .text-uppercase;
			border-left: 0px;
			border-right: 0px;
			font-weight: 400;
		}
	}
	.input-group {
		@extend .rounded-0;
		.input-group-text,
		button,
		input {
			@extend .rounded-0;
		}
	}
	.fieldValue {
		position: relative;
	}

	.input-group {
		max-width: 100% !important;
	}

	.rowName .input-group {
		max-width: 400px;
	}

	tfoot td.hideTd {
		border-width: 0 0 1px 0;
		background: #fff;
		@extend .border-top;
		@extend .border-bottom-0;
		@extend .border-right-0;
		& + td:not(.hideTd) {
			@extend .border-bottom-0;
			@extend .border-right-0;
		}

		&:first-child {
			border-width: 0 0 1px 1px;
		}
	}

	//reboot correction for hidden list in table
	.subProductsContainer ul {
		margin-bottom: 0;
	}
}

.table-responsive {
	@extend .bg-white;
}
