/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.fixedListInitial {
	float: left;
	position: relative;
	height: 600px;
	padding-left: 0;
	overflow: hidden;
	[class^="modCT"] {
		pointer-events: none;
	}
}
.fixedListContent {
	position: relative;
	height: max-content;
	#recordsList {
		padding-left: 0;
		padding-right: 0;
		float: none;
	}
	.contents-topscroll {
	}
	.listViewSummation td {
		padding: 0;
	}
}
.listPreview {
	float: right;
	position: relative;
    min-height: 1px;
}
.listPreviewframe {
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
}
.gutter {
	background-color: #4979aa;
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
	z-index: 300;
	border-right: 8px solid white;
	border-left: 8px solid white;
	&:active:before {
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: transparent;
	}
	&:hover {
		transition: .2s linear, height .2s ease-in-out;
		-webkit-transition: .2s linear, height .2s ease-in-out;
		border-right: 4px solid white;
		border-left: 4px solid white;
		border-radius: 30px;
		background-repeat: repeat-x;
	}
	&.gutter-horizontal {
		cursor: ew-resize;
		background-image: url('../images/vertical.png');
		height: calc(100vh - 33px);
		float: left;
	}
}
.gutterOnScroll {
  position: fixed;
  top: 48px;
}
.wrappedPanel {
	display: none;
	cursor: pointer;
	height: calc(100vh - 33px);
	width: 20px;
	position: absolute;
	background: $light;
}
.wrappedPanelLeft {
  display: block;
  left: -10px;
}
.wrappedPanelRight {
  display: block;
  right: -10px;
  background: $primary;
}
.rotatedText {
  transform: rotate(0.75turn);
  position: absolute;
  text-align: center;
}
.wrappedPanelRight .rotatedText {
  color: #fff;
}
.wrappedPanelOnScroll {
  position: fixed;
  top: 50px;
}
.wrappedPanelLeft.wrappedPanelOnScroll {
  left: 50px;
}
.wrappedPanelRight.wrappedPanelOnScroll {
  right: 17px;
}
@media only screen and (max-width: 992px) {
	.listPreview {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		height: 100%;
	}
	.fixedListInitial {
		position: static;
		padding-left: 0;
		padding-right: 0;
	}
	.fixedListContent {
		margin-right: 0;
		margin-bottom: 10px;
	}
}
.js-hide-underneath {
	z-index: -1;
}
