/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.paginationDiv {
	.listViewBasicAction.dropdown-menu {
		width: 35%;
	}
}

.listViewEntriesTable {
	.picklistSearchField, .searchField {
		min-width: 150px;
	}

	.boolenSearchField {
		min-width: 90px;
	}
}

.paginationDiv .pageInfo {
	border: 1px solid #ddd;
	color: $blue;
	float: right;
	margin-left: 5px;
	margin-bottom: 0;
	list-style: none;
	padding: 8px 5px;
}

.paginationDiv .pageNumbersText {
	white-space: nowrap;
}

.pageNumber.active.disabled a {
	background-color: $blue;
	border-color: $blue;
	color: #fff;
}

.listViewEntriesDiv .listViewEntriesCheckBox, .listViewEntriesTable .entryCheckBox {
	margin: 0;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.listViewTopMenuDiv {
	.listViewActionsDiv {
		margin-bottom: -($spacer * 0.5) !important;

		> [class*="col"] > * {
			@extend .mb-2;
		}

		> [class*="col"] > .btn-group {
			@extend .d-inline-block;
			@extend .align-baseline;
		}

		.paginationDiv .pagination {
			@extend .mb-0;
		}
	}
}

.customFilterMainSpan  .select2-container {
	width: 100% !important;
}

@include media-breakpoint-up(lg) {
	.customFilterMainSpan {
		max-width: 400px;
	}
}

.nav-tabs .active {
	@extend .bg-light;
}

.listViewAll .leftRecordActions {
	border-left: 5px solid #ddd;
}
