/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.c-tiles-container {
	.c-tile-record-container:hover {
		z-index: 1;
	}
	.c-tiles-actions-container {
		.toolsAction {
			line-height: 0;
		}
	}
	.c-tile-body {
		.c-multi-image__preview-img {
			transition: transform 0.2s;
		}
		.c-tile-image {
			.c-multi-image__preview-img,
			.carousel-image {
				height: 16em;
				width: 100%;
			}
		}
		.c-tile-value {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.carousel-control-next,
		.carousel-control-prev {
			filter: invert(100%);
		}
		.c-tile-image {
			transition: transform 0.2s;
		}
		.c-multi-image__preview-img:hover,
		.c-tile-image:hover {
			-moz-transform: scale(1.5);
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
		}
	}
}
