[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
character-set-server = utf8
collation-server = utf8_general_ci

bind-address = 0.0.0.0

init-connect='SET NAMES utf8'
sql-mode="ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
max_allowed_packet = 500M
key_buffer_size = 500M
key_buffer = 500M
wait_timeout = 600
innodb_lock_wait_timeout = 600
innodb_file_per_table = 1
innodb_ft_min_token_size = 2
ft_min_word_len = 2

innodb_stats_on_metadata = 0
#myisam_sort_buffer_size = 500M
#tmp_table_size=2G
#max_heap_table_size=2G
#max_connections=200
#innodb_buffer_pool_size=2G
#innodb_buffer_pool_instances = 8 (or 1 if innodb_buffer_pool_size < 1GB)
#innodb_additional_mem_pool_size=1024M
#innodb_log_file_size=512M
#innodb_log_buffer_size=256M
