<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" processIsolation="false" convertErrorsToExceptions="true" convertWarningsToExceptions="true" stopOnError="true" stopOnFailure="true" stopOnIncomplete="true" printerClass="YtResultPrinter" printerFile="printer.php" bootstrap="bootstrap.php" timeoutForLargeTests="1000" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<php>
		<includePath>.</includePath>
	</php>
	<testsuites>
		<testsuite name="Init">
			<directory suffix=".php">./Init/</directory>
		</testsuite>
		<testsuite name="Base">
			<directory suffix=".php">./Base/</directory>
		</testsuite>
		<testsuite name="Integrations">
			<directory suffix=".php">./Integrations/</directory>
		</testsuite>
		<testsuite name="Settings">
			<directory suffix=".php">./Settings/</directory>
		</testsuite>
		<testsuite name="Apps">
			<directory suffix=".php">./App/</directory>
		</testsuite>
		<testsuite name="Gui">
			<directory suffix=".php">./Gui/</directory>
		</testsuite>
	</testsuites>
</phpunit>
