<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 processIsolation="false"
		 stopOnFailure="true"
		 syntaxCheck="true"
		 printerClass="YtResultPrinter"
		 printerFile="printer.php"
		 bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="Init">
			<directory suffix=".php">./init/</directory>
		</testsuite>
		<testsuite name="Base">
			<directory suffix=".php">./base/</directory>
		</testsuite>
		<testsuite name="Settings">
			<directory suffix=".php">./settings/</directory>
		</testsuite>
		<testsuite name="Gui">
			<directory suffix=".php">./gui/</directory>
		</testsuite>
		<testsuite name="Finish">
			<directory suffix=".php">./finish/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../</directory>
		</whitelist>
	</filter>
	<listeners>
		<listener class="Times" file="./times.php" />
	</listeners>
	<logging>
		<log type="coverage-html" target="./coverageHtml/" lowUpperBound="35" highLowerBound="70" charset="UTF-8" />
		<log type="coverage-clover" target="coverage.xml"/>
	</logging>
</phpunit>
