openapi: 3.0.0
info:
  title: 'YetiForce API for PBX. Type: PBX'
  description: ''
  termsOfService: 'https://yetiforce.com/'
  contact:
    name: 'Devs API Team'
    url: 'https://yetiforce.com/'
    email: devs@yetiforce.com
  license:
    name: 'YetiForce Public License'
    url: 'https://yetiforce.com/en/yetiforce/license'
  version: '0.1'
servers:
  -
    url: 'https://gitdeveloper.yetiforce.com'
    description: 'Demo server of the development version'
  -
    url: 'https://gitstable.yetiforce.com'
    description: 'Demo server of the latest stable version'
paths:
  /webservice/PBX/GenesysWdeWhirly/registerInteraction:
    post:
      tags:
        - Genesys
      summary: 'Creating interactions'
      description: 'Register interaction.'
      operationId: e95965a0bbd65e7f1b55264fbfc58ee5
      requestBody:
        description: 'Contents of the request contains an associative array with the data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PBX_Genesys_RegisterInteraction_Request'
      responses:
        '200':
          description: 'Correct server response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBX_Genesys_RegisterInteraction_Response'
        '401':
          description: 'Invalid api key'
        '404':
          description: 'Method Not Found'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBX_Genesys_Error'
      security:
        -
          ApiKeyAuth: []
  /webservice/PBX/GenesysWdeWhirly/updateInteraction:
    post:
      tags:
        - Genesys
      summary: 'Update interactions'
      description: 'Update interaction.'
      operationId: 4e4d955fe8b1079b376b67a017c6dfb7
      requestBody:
        description: 'Contents of the request contains an associative array with the data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PBX_Genesys_UpdateInteraction_Request'
      responses:
        '200':
          description: 'Correct server response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBX_Genesys_UpdateInteraction_Response'
        '401':
          description: 'Invalid api key'
        '404':
          description: 'Method Not Found'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBX_Genesys_Error'
      security:
        -
          ApiKeyAuth: []
  /webservice/PBX/GenesysWdeWhirly/registerInteractionCampaign:
    post:
      tags:
        - Genesys
      summary: 'Creating interactions for campaign'
      description: 'Register interaction campaign.'
      operationId: affe30c217d71a67719d82e489c99feb
      requestBody:
        description: 'Contents of the request contains an associative array with the data.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PBX_Genesys_RegisterInteractionCampaign_Request'
      responses:
        '200':
          description: 'Correct server response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBX_Genesys_RegisterInteractionCampaign_Response'
        '401':
          description: 'Invalid api key'
        '404':
          description: 'Method Not Found'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBX_Genesys_Error'
      security:
        -
          ApiKeyAuth: []
components:
  schemas:
    PBX_Genesys_Error:
      title: 'Response for Genesys errors'
      required:
        - status
        - description
      properties:
        status:
          description: 'That indicates whether the communication is valid. 1 - success , 0 - error'
          type: integer
          example: 1
        description:
          description: 'Error description'
          type: string
          example: 'No data'
      type: object
    PBX_Genesys_RegisterInteraction_Request:
      title: 'Request for creating interactions'
      required:
        - GenesysIDInteraction
        - InteractionStartDateTime
        - MediaType
      properties:
        GenesysIDInteraction:
          type: string
          example: 00047aHK833X02TB
        OutboundCallID:
          type: integer
        QueueName:
          type: string
        QueueTime:
          type: integer
          example: 122
        ServiceType:
          type: string
        ServiceValue:
          type: string
        DialedNumber:
          type: string
        CustomerEmail:
          type: string
          example: test@yetiforce.com
        CustomerPhoneNumber:
          type: string
          example: '+48884998123'
        FacebookActorID:
          type: string
          example: '4187643884658211'
        FacebookActorName:
          type: string
        CustomerContactName:
          type: string
          example: Tom
        CustomerContactLastName:
          type: string
          example: Kowalski
        CustomerNIP:
          type: integer
        CustomerAgreements:
          type: string
          example: '[]'
        AgentName:
          type: string
        AgentID:
          type: string
        MediaType:
          type: string
          enum:
            - 'voice in'
            - 'voice out'
            - callback
            - chat
            - InboundNew
            - 'email out'
            - 'email in'
            - outbound
            - messenger
            - facebook
            - facebookprivatemessage
        CRMPreviewInteractionID:
          type: string
        InteractionStartDateTime:
          type: string
          example: '2022-11-08T14:54:55.9895353Z'
        CRMSourceID:
          type: integer
          example: 4475
      type: object
    PBX_Genesys_RegisterInteraction_Response:
      title: 'Response for creating interactions'
      required:
        - status
        - interactionId
        - url
      properties:
        status:
          description: 'That indicates whether the communication is valid. 1 - success , 0 - error'
          type: integer
          example: 1
        interactionId:
          description: 'CRM interaction ID'
          type: integer
          example: 3345
        url:
          description: 'The full URL to call on the Genesys app'
          type: string
          example: 'https://gitstable.yetiforce.com/index.php?module=Accounts&view=List'
      type: object
    PBX_Genesys_UpdateInteraction_Request:
      title: 'Request for update interactions'
      required:
        - GenesysIDInteraction
        - SessionID
        - InteractionEndDateTime
        - CallResult
        - AgentID
      properties:
        GenesysIDInteraction:
          type: string
          example: 00016aFW01KD009T
        InteractionEndDateTime:
          type: string
          example: '2022-10-18T12:55:09.3474109Z'
        InteractionHandleTime:
          type: integer
          example: 90
        DispositionCode:
          type: string
        AgentName:
          type: string
        TransferAgentID:
          type: string
        TransferAgentName:
          type: string
        CallResult:
          type: string
          example: ended
        PersonalCallback:
          type: integer
        CRMInteractionID:
          type: integer
        AgentID:
          type: string
        CRMPreviousInteractionID:
          type: integer
        StatusInteraction:
          type: string
        SessionID:
          type: string
          example: 00QG8R2EQS9KT6Q31M0AHG5AES00001P
      type: object
    PBX_Genesys_UpdateInteraction_Response:
      title: 'Response for update interactions'
      required:
        - status
      properties:
        status:
          description: 'That indicates whether the communication is valid. 1 - success , 0 - error'
          type: integer
          example: 1
      type: object
    PBX_Genesys_RegisterInteractionCampaign_Request:
      title: 'Request for creating interactions campaign'
      required:
        - GenesysIDInteraction
        - SessionID
        - InteractionEndDateTime
      properties:
        MediaType:
          type: string
          enum:
            - email
            - sms
          example: email
        ServiceType:
          type: string
        ServiceValue:
          type: string
        GenesysIDInteraction:
          type: string
          example: 03RGG833ANU72009
        OutboundCallID:
          type: integer
        DialedNumber:
          type: string
        CustomerEMail:
          type: string
        CustomerNIP:
          type: integer
        TemplateCRMID:
          type: integer
        InteractionStartDateTime:
          type: string
          example: '2022-11-04 09:17:26'
        InteractionEndDateTime:
          type: string
          example: '2022-11-04 09:17:26'
      type: object
    PBX_Genesys_RegisterInteractionCampaign_Response:
      title: ' Response for creating interactions campaign'
      required:
        - status
      properties:
        status:
          description: 'That indicates whether the communication is valid. 1 - success , 0 - error'
          type: integer
          example: 1
      type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: 'Webservice api key header'
      name: X-API-KEY
      in: header
externalDocs:
  description: 'Platform API Interactive Docs'
  url: 'https://doc.yetiforce.com/api/?urls.primaryName=PBX'
