@media (min-width: 768px) {
	.visible-phone{ 
		visibility: hidden;
	}
}
@media (min-height: 480px) { 
	.login-space{
		margin-top: 150px;
	} 
}
@media (max-width: 767px) { 
	.visible-phone{ 
		visibility: visible;
	}  
}
.login-area {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}
html,body{
	background: #ddecf0;
}
.login-form .form-group.first-group{
	margin-bottom: 5px;
}
.img-responsive.logo{
	margin: auto;
}
