@media only screen and (max-width: 480px) {
	#loginDiv{
		width: 100%;
	}
	.login-area {
		max-width: 100%;		
		margin: 0 auto;
	}
}
@media only screen and (min-width: 480px) {
	.login-area {
		max-width: 400px;
		margin: 0 auto;
	}
}

@media only screen and (max-height: 340px) {
	.login-space{
	    margin-top: 0;
	}
	.img-responsive.logo{
	    height:70px;
	}
}
@media only screen and (min-height: 340px) and (max-height: 480px){
	.login-space{
	    margin-top: 10px;
	}
	.img-responsive.logo{
	    height:120px;
	}
}
@media only screen and (min-height:480px){
    .login-space{
	margin-top: 70px;
    }
}
.forgotpass{
	margin-top: 10px;
}
.login-text{
	margin-top:10px;
}
.container{
	padding: 0;	
	margin-top: 5px;
}
html,body{
	background: #ddecf0;
}
.login-form .form-group.first-group{
	margin-bottom: 0px;
}
.img-responsive.logo{
	margin: auto;
	margin-bottom: 0px;
}
