/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.quasar-reset {
	.row {
		margin: unset;
	}
	.col {
		padding: unset;
	}
}
.quasar-container {
	height: calc(100% - #{calculate-rem(45px)});
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
.quasar-modal {
	padding: unset !important;
	.modal-content {
		height: 100%;
	}
	top: 50px;
	right: 32px;
	left: 0;
	max-width: calc(100% - 50px);
	width: calc(100% - 50px);
	margin-left: 50px;
	margin-right: 0;
	height: calc(100% - 80px);

	.q-layout-container {
		height: calc(100vh - 113px);
	}
}
