.font-small {
	font-size: small;
}
.dispaly-inline {
	display: inline;
}
.danger-color {
	color: #d9534f !important;
}
.info-color {
	color: #5bc0de !important;
}
.bgBlue {
	background: #337ab7 !important;
	color: #fff !important;
}
.bgWarning {
	background: #fcf8e3 !important;
}
.bgDanger {
	color: #fff !important;
	background-color: #d9534f !important;
}
.bgGreen {
	background: #5cb85c !important;
	color: #fff !important;
}
.bgOrange {
	background: #f0ad4e !important;
	color: #fff !important;
}
.bgAzure {
	background: #3eb1f7 !important;
	color: #fff !important;
}
.bgDarkBlue {
	background: #001f3f !important;
	color: #fff !important;
}
.fs30 {
	font-size: 30px;
}
.fs40 {
	font-size: 40px;
}
.btn-black {
	color: #fff;
	background-color: #000;
}
.btn-black:hover {
	color: #fff;
}
.paddingLeftMd {
	padding-left: 15px;
}
.marginRight10 {
	margin-right: 10px;
}
.marginRight20 {
	margin-right: 20px;
}
.marginRightMinus20 {
	margin-right: -20px;
}
.marginTop2 {
	margin-top: 2px !important;
}
.marginTop5 {
	margin-top: 5px !important;
}
.marginTopMinus10 {
	margin-top: -10px;
}
.paddingLR10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.paddingLeft5px {
	padding-left: 5px;
}
.marginBottom5px {
	margin-bottom: 5px;
}
.paddingLRZero {
	padding-left: 0px;
	padding-right: 0px;
}
.paddingLefttZero {
	padding-left: 0 !important;
}
.paddingRightZero {
	padding-right: 0 !important;
}
.paddingRight10 {
	padding-right: 10px !important;
}
.paddingRight15 {
	padding-right: 15px !important;
}
.padding5 {
	padding: 5px !important;
}
.alignTop {
	vertical-align: top;
}
.padding1per {
	padding: 1%;
}
.paddingTop20 {
	padding-top: 20px;
}
.paddingTop10 {
	padding-top: 10px;
}
.padding20px {
	padding: 20px;
}
.padding-bottom1per {
	padding-bottom: 1%;
}
.paddingBottom20 {
	padding-bottom: 20px;
}
.paddingBottom10 {
	padding-bottom: 10px;
}
.marginBottom10px {
	margin-bottom: 10px !important;
}
.displayInlineBlock {
	display: inline-block;
}
.backgroundImageNone {
	background-image: none;
}
.textAlignCenter {
	text-align: center;
}
.textAlignRight {
	text-align: right;
}
.margin0px {
	margin: 0 !important;
}
.padding10 {
	padding: 10px;
	padding-bottom: 0;
}
.padding20 {
	padding: 20px;
}
.padding6 {
	padding: 6px 12px !important;
}
.top10 {
	top: -10px;
}
.relative {
	position: relative;
}
.pushDown {
	margin-top: 7px;
}
.marginTB3 {
	margin-top: 3px;
	margin-bottom: 3px;
}
.marginLeft5 {
	margin-left: 5px;
}
.marginLeft10 {
	margin-left: 10px;
}
.marginLeft20 {
	margin-left: 20px;
}
.marginbottomZero {
	margin-bottom: 0 !important;
}
.marginLeftZero {
	margin-left: 0 !important;
}
.marginRightZero {
	margin-right: 0 !important;
}
.clearfix {
	clear: both !important;
}
