/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.o-chat {
	li {
		list-style: none !important;
	}
	&__img-container {
		border: 2px solid #d2d6de;
		width: 60px;
		height: 60px;
	}
	&__btn-send {
		position: absolute;
		bottom: 10px;
		right: 10px;
		border-radius: 50% !important;
		z-index: 1000;
	}
	&__icon-search {
		position: absolute;
		top: 18px;
		right: 10px;
		border-radius: 50% !important;
		z-index: 1000;
		font-size: 15px;
		color: #6c7591;
	}
	&__form-control {
		border: 0px;
		&:focus {
			box-shadow: none;
		}
	}
	&__user-message {
		max-width: 150px;
		color: #797676;
		font-size: 12px;
	}
	&__scrollbar {
		position: relative;
		overflow: hidden;
		height: calc(100vh - #{$h-footer} - #{calculate-rem(175px)});
	}
	&__author-img {
		width: 48px;
		height: 48px;
	}
	&__author-name {
		vertical-align: top;
		font-weight: bold;
	}
	&__triangle {
		width: 0;
		height: 0;
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		color: #e8e8e8;
	}
	&__item {
		margin-bottom: 3px;
		padding: 2px 8px 2px 8px;
	}
	&__messages {
		font-size: 13px;
		background: #e8e8e8;
	}
}
.o-chat__detail {
	.o-chat__scrollbar {
		height: calc(100vh - #{calculate-rem(425px)});
	}
}
