/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.icon-img--picklist {
  width: 1em;
  height: 1em;
  vertical-align: baseline;
  margin-bottom: -2px;
}
.icon-img--list {
  width: 2em;
  height: 2em;
  vertical-align: baseline;
}
