/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

//--- TEXT ---//
.u-text-small-bold {
	@extend .small;
	@extend .font-weight-bold;
}

@for $i from 1 through 10 {
	.u-fs-#{$i}x {
		font-size: #{$i}rem !important;
	}
}

.u-fs-xs {
	font-size: 0.75rem !important;
}

.u-fs-sm {
	font-size: 0.876rem !important;
}

.u-fs-lg {
	font-size: 1.33rem !important;
}

.u-fs-xlg {
	font-size: 1.5rem !important;
}

.u-fs-2em {
	font-size: 2em !important;
}

.u-fs-10px {
	font-size: calculate-rem(10px) !important;
}

.u-fs-13px {
	font-size: calculate-rem(13px) !important;
}

.u-fs-14px {
	font-size: calculate-rem(14px) !important;
}

.u-fs-15px {
	font-size: calculate-rem(15px) !important;
}

.u-fs-19px {
	font-size: calculate-rem(19px) !important;
}

.u-fs-38px {
	font-size: calculate-rem(38px) !important;
}

.u-fs-50px {
	font-size: calculate-rem(50px) !important;
}

.u-fs-95per {
	font-size: 95% !important;
}

.u-fs-100per {
	font-size: 100% !important;
}

.u-fs-26px {
	font-size: calculate-rem(26px) !important;
}

.u-fs-44px {
	font-size: calculate-rem(44px) !important;
}

@for $i from 1 through 18 {
	.u-font-weight-#{$i*50} {
		font-weight: #{$i * 50} !important;
	}
}

.u-text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&.u-text-ellipsis--bg-white {
		&:hover {
			background: $white;
			z-index: 1000000;
			position: absolute;

			@include u-box-shadow(2px 2px 10px $gray-400);
		}
	}
}

.u-ellipsis-in-flex {
	min-width: 0;
}

.u-text-ellipsis--no-hover,
.js-popover-tooltip--ellipsis,
.js-popover-tooltip--ellipsis-icon .js-popover-text,
.js-popover-tooltip--ellipsis-icon .c-popover-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.js-popover--before-positioned {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.u-text-ellipsis--not-active {
	width: auto !important;
	text-overflow: unset !important;
	visibility: hidden !important;
	overflow: visible !important;
	display: inline-block !important;
}

.u-ellipsis-2-lines {
	overflow: hidden;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.u-text-underline {
	text-decoration: underline;
}

.u-hover-bold:hover {
	@extend .font-weight-bold;
}

.u-hover-opacity:hover {
	opacity: 0.5;
	@include u-transition(opacity 275ms ease);
}

.u-hover-opacity75:hover {
	opacity: 0.75;
	@include u-transition(opacity 275ms ease);
}

.u-bg-white-darken:hover {
	background-color: darken($white, 10%) !important;
	@include u-transition(background-color 275ms ease);
}

.u-bg-light-darken:hover {
	background-color: darken($light, 10%) !important;
	@include u-transition(background-color 275ms ease);
}

.u-bg-light-blue {
	background-color: #bbdefb !important;
}

.u-bg-light-green {
	background-color: #b2dfdb !important;
}
.u-bg-light-orange {
	background-color: #ffe0b2 !important;
}
.u-bg-light-brown {
	background-color: #d7ccc8 !important;
}

.u-hover-container {
	.u-hover-display-inline {
		display: none;
	}
	&:hover {
		.u-hover-display-inline {
			display: inline;
		}
	}
}

.u-word-break-all {
	word-break: break-all !important;
}

.u-word-break {
	overflow-wrap: anywhere !important;
}

.u-word-break-keep-all {
	word-break: keep-all !important;
}

//--- MARGIN ---//
.u-m-5px {
	margin: 5px;
}

.u-ml-0 {
	margin-left: 0 !important;
}

.u-ml-10px {
	margin-left: calculate-rem(10px);
}

.u-mr-0px {
	margin-right: 0 !important;
}

.u-ml-0px {
	margin-left: 0 !important;
}

.u-mr-5px {
	margin-right: calculate-rem(5px);
}

.u-mt-2px {
	margin-top: calculate-rem(2px);
}

.u-paragraph-m-0 {
	p {
		margin: 0;
	}
}

.u-mb-13px {
	margin-bottom: 0.8rem !important;
}

.u-ml-minus-5px {
	margin-left: calculate-rem(-5px);
}

.u-mr-minus-8px {
	margin-right: calculate-rem(-8px);
}

//--- PADDING ---//
.u-p-1per {
	padding: 1%;
}

@include media-breakpoint-down(sm) {
	.u-p-05per {
		padding: 0.5%;
	}
}

.u-p-x-0px {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

//--- WIDTH ---//
// width % breakpoint classes for 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
@for $i from 1 through 10 {
	@each $breakpoint, $min in $grid-breakpoints {
		@if $min > 0 {
			@media (min-width: $min) {
				.u-min-w-#{$breakpoint}-#{$i*10} {
					min-width: $i * 10% !important;
				}

				.u-max-w-#{$breakpoint}-#{$i*10} {
					max-width: $i * 10% !important;
				}

				.u-w-#{$breakpoint}-#{$i*10} {
					min-width: $i * 10% !important;
				}
			}
		}
	}
}

.u-w-10per {
	width: 10%;
}

.u-w-24per {
	width: 24%;
}

.u-w-30per {
	width: 30%;
}

.u-w-37per {
	width: 37% !important;
}

.u-w-40per {
	width: 40% !important;
}

.u-w-fit {
	width: fit-content !important;
}

.u-w-60per {
	width: 60%;
}

.u-w-158px {
	width: calculate-rem(158px) !important;
}

.u-w-max {
	width: max-content !important;
	width: -moz-max-content !important;
}

.u-w-50px {
	width: 50px;
}

.u-w-85px {
	width: 85px;
}

.u-w-79px {
	width: 79px;
}

.u-w-125px {
	width: 125px;
}

.u-w-90per {
	width: 90%;
}

.u-w-max-320px {
	max-width: calculate-rem(320px) !important;
}

.u-w-max-430px {
	max-width: calculate-rem(430px) !important;
}

.u-w-max-500px {
	max-width: calculate-rem(500px) !important;
}

.u-w-1per-45px {
	width: 1%;
	min-width: 45px !important;
}

.u-w-3per-150px {
	width: 3%;
	min-width: 150px !important;
}

.u-w-3per-250px {
	width: 3%;
	min-width: 250px !important;
}

.u-w-30per-18rem {
	width: 30% !important;
	min-width: 18rem;
}

.u-min-w-45per {
	min-width: 45% !important;
}

.u-min-w-300px {
	min-width: 300px !important;
}

.u-min-w-400px {
	min-width: 400px !important;
}

.u-min-w-500px {
	min-width: 400px !important;
}

.u-min-w-470pxr {
	min-width: calculate-rem(470px);
}

.u-min-w-650pxr {
	min-width: calculate-rem(650px) !important;
}

.u-min-w-150pxr {
	min-width: calculate-rem(150px) !important;
}

.u-min-w-300pxr {
	min-width: calculate-rem(300px) !important;
}

.u-table-min-width-10rem table tr > td,
.u-table-min-width-10rem table tr > th {
	min-width: 10rem;
}
.u-table-min-width-5rem table tr > td,
.u-table-min-width-5rem table tr > th {
	min-width: 5rem;
}

.u-w-1em {
	width: 1em;
}

@include media-breakpoint-down(sm) {
	.u-w-sm-down-100 {
		width: 100%;
	}
}

@include media-breakpoint-down(xs) {
	.u-w-xs-down-100 {
		width: 100%;
	}
}

.u-max-w-40px {
	max-width: calculate-rem(40px);
}

.u-max-w-150px {
	max-width: 150px;
}

.u-max-w-250px {
	max-width: 250px;
}

.u-w-fill-available {
	width: -webkit-fill-available;
}

//--- HEIGHT ---//
.u-h-50px {
	height: 50px;
}

.u-h-600px {
	height: 600px !important;
}

.u-h-input-text {
	height: $h-input-text;
}

.u-h-120px {
	height: $h-modal-logo;
}

.u-h-fit {
	height: fit-content !important;
}

.u-h-70vh {
	height: 70vh !important;
}

.u-h-1em {
	height: 1em;
}

.u-min-h-30per {
	min-height: 30%;
}

.u-min-h-85vh {
	min-height: 85vh;
}

.u-min-h-120px-rem {
	min-height: calculate-rem(120px);
}

.u-max-h-70vh {
	max-height: 70vh;
}

.u-h-line-normal {
	line-height: normal;
}

//--- BORDER ---//
.u-border-right-10px {
	border-right: 10px solid;
}

.u-border-left-10px {
	border-left: 10px solid;
}

.u-border-bottom-5px {
	border-bottom: 5px solid;
}

@media only screen and (max-width: 990px) {
	.u-border-bottom-label-md {
		border-bottom: 1px solid #dee2e6;
	}
}

@media only screen and (max-width: 575px) {
	.u-border-bottom-value-sm {
		border-bottom: 1px solid #dee2e6;
	}
}

@media only screen and (max-width: 991px) {
	.u-border-right-0-md {
		border-right: none !important;
	}
}

@media only screen and (max-width: 575px) {
	.u-border-bottom-0-sm {
		border-bottom: none !important;
	}
}

.u-outline-none {
	outline: none;
}

//--- COLORS ---//
.u-bg-twilight {
	background-color: #404952 !important;
	color: #fff !important;
}

.u-bg-blue {
	background-color: #0078d4 !important;
	color: #fff !important;
}

.u-bg-gray {
	background-color: #d1d1db !important;
	color: $black !important;
}

.u-text-gray {
	color: #d1d1db !important;
}

.u-bg-default {
	background-color: #fff;
	color: $black;
}

.u-text-inherit {
	color: inherit;
	&:hover {
		color: inherit;
	}
}

.u-rotate-90 {
	transform: rotate(0.75turn);
	position: absolute;
}

.u-hide-underneath {
	z-index: -1;
}

.u-z-index-100 {
	z-index: 100;
}

.u-cursor-pointer {
	cursor: pointer;
	text-decoration: none !important;
}

.u-cursor-auto {
	cursor: auto;
}

.u-cursor-move {
	cursor: move;
}

.u-cursor-no-move {
	cursor: no-drop;
}

.u-cursor-grab {
	cursor: -webkit-grab;
}

.u-cursor-scroll-all {
	* {
		cursor: all-scroll !important;
	}
}

.u-overflow-auto {
	overflow: auto !important;
}

.u-overflow-y-auto {
	overflow-y: auto !important;
}

.u-overflow-x-hidden {
	overflow-x: hidden !important;
}

body:not(.desktop) {
	.u-overflow-scroll-non-desktop {
		overflow: scroll !important;
	}
}

.u-remove-dropdown-icon {
	.dropdown-toggle::after {
		display: none;
	}
}

@include media-breakpoint-down(lg) {
	.u-overflow-auto-lg-down {
		overflow: auto !important;
	}

	.u-remove-dropdown-icon-down-lg {
		.dropdown-toggle::after {
			display: none;
		}
	}
}

@include media-breakpoint-down(xl) {
	.u-overflow-auto-xl-down {
		overflow: auto !important;
	}
}

//--- TABLE ---//
.u-w-30per {
	width: 30%;
}

.u-w-8per {
	width: 8%;
}

.u-w-5per {
	min-width: 5%;
	max-width: 25%;
}

.u-disabled {
	pointer-events: none;
	opacity: 0.65;
}
.u-box-shadow {
	@include u-box-shadow(3px 3px 14px 0 rgba(50, 50, 50, 0.75));
}
.u-box-shadow-light {
	@include u-box-shadow(0.1rem 0.1rem 0.35rem rgba(0, 0, 0, 0.6));
}

@each $breakpoint, $max in $grid-breakpoints {
	@if $max > 0 {
		@media (max-width: $max) {
			.display-block-#{$breakpoint} {
				display: block !important;
			}
		}
	}
}

.u-opacity-muted {
	opacity: 0.2;
}

.u-table-fixed {
	table-layout: fixed;
}
//--- COLUMNS ---///
.u-columns {
	&__item {
		display: inline-block;
		width: 100%;
	}

	&-gap-1rem {
		@include u-column-gap(1rem);
	}

	&-count-3 {
		@include u-column-count(3);
	}

	&-width-36rem {
		@include u-column-width(36rem);
	}

	&-width-300px-rem {
		@include u-column-width(#{calculate-rem(300px)});
	}

	&-width-200px-rem {
		@include u-column-width(#{calculate-rem(200px)});
	}

	&-width-150px-rem {
		@include u-column-width(#{calculate-rem(150px)});
	}
}

//--- POSITIONS ---//
.u-position-r-0 {
	right: 0;
}

.u-position-r-5px {
	right: calculate-rem(5px);
}

.u-position-r-10px {
	right: calculate-rem(10px);
}

.u-position-t-10px {
	top: calculate-rem(10px);
}

.u-position-t-5px {
	top: calculate-rem(5px);
}

.u-position-t-2px {
	top: calculate-rem(2px);
}

//--- ALIGN ---//

.u-align-middle-children {
	* {
		vertical-align: middle !important;
	}
}

.u-table-column__before-block {
	&--inventory {
		width: 1%;
	}

	&:before {
		content: "";
		display: block;
	}
}

@for $i from 1 through 100 {
	.u-table-column__vw-#{$i} {
		&:before {
			width: #{$i}vw;
		}
	}
}

//--- WHITE SPACE ---//

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.u-white-space#{$infix}-nowrap {
			white-space: nowrap !important;
		}

		.u-white-space#{$infix}-normal {
			white-space: normal !important;
		}
	}
}

// --- MIN HEIGHT --- //

@for $i from 1 through 25 {
	.u-min-height-#{$i}0 {
		min-height: #{$i}0px;
	}
}

// --- LINE HEIGHT --- //
.u-lh-12 {
	line-height: 1.2;
}

// --- FLEX --- //

.u-flex-default {
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}
.u-flex-b100 {
	flex-basis: 100%;
}

// --- COLORS --- //

.bg-navy {
	background-color: $navy !important;
}

.text-navy {
	color: $navy !important;
}

// --- IMG --- //

.u-img-invert {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.u-hidden-block {
	position: absolute;
	display: none;
	right: 2.5rem;
	padding: 0.25rem;
	top: -1px;
	z-index: 1;
}
.singleComment .u-hidden-block {
	position: absolute;
	display: none;
	top: unset;
}
.recentActivitiesContainer .u-hidden-block {
	top: 12px;
}
.singleComment .u-hidden-block-btn {
	display: block;
}

.u-hidden-block__opened .u-hidden-block {
	display: block;
	box-shadow: 0 0 3px 0px;
	background: #fff;
	max-width: calc(100% - 2rem);
	border-radius: 3px;
}
@include media-breakpoint-up(lg) {
	.u-hidden-block-btn {
		display: none;
	}
	.u-hidden-block {
		position: static;
		display: block;
	}
}
.u-pre {
	white-space: pre-wrap;
	font-size: 1em;
	margin: 0;
	font-family: inherit;
}
