/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.u-text-ellipsis {
	overflow: hidden;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	&:hover {
		overflow: initial;
	}
}
.u-cursor-pointer {
	cursor: pointer;
	text-decoration: none !important;
}
.u-text-weight{
	@extend .small;
	@extend .font-weight-bold;
}
@media only screen and (max-width: 990px) {
    .u-border-bottom-label {
       border-bottom:  1px solid #dee2e6;
    }
}
@media only screen and (max-width: 575px) {
    .u-border-bottom-value {
        border-bottom:  1px solid #dee2e6;
    }
}
