/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

//--- MIXINS ---//
@mixin u-transition($settings) {
	-webkit-transition: $settings;
	-moz-transition: $settings;
	-ms-transition: $settings;
	-o-transition: $settings;
	transition: $settings;
}

@mixin u-box-shadow($settings) {
	-moz-box-shadow: $settings;
	-webkit-box-shadow: $settings;
	box-shadow: $settings;
}

@mixin u-column-count($number) {
	-webkit-column-count: $number;
	-moz-column-count: $number;
	column-count: $number;
}

@mixin u-column-gap($number) {
	-webkit-column-gap: $number;
	-moz-column-gap: $number;
	column-gap: $number;
}

@mixin u-column-width($number) {
	-webkit-column-width: $number;
	-moz-column-width: $number;
	column-width: $number;
}

//--- TEXT ---//
.u-text-small-bold {
	@extend .small;
	@extend .font-weight-bold;
}

.u-font-size-19px {
	font-size: calculate-rem(19px);
}

.u-text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover {
		overflow: initial;
	}

	&.u-text-ellipsis--bg-white {
		&:hover {
			background: $white;
			z-index: 1000000;
			position: absolute;

			@include u-box-shadow(2px 2px 10px $gray-400);
		}
	}
}

.u-text-ellipsis--no-hover, .js-popover-tooltip[data-ellipsis] {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.u-text-ellipsis--not-active {
	width: auto !important;
	text-overflow: unset !important;
	visibility: hidden !important;
	overflow: visible !important;
	display: inline-block !important
}

.u-text-underline {
	text-decoration: underline;
}

.u-hover-bold:hover {
	@extend .font-weight-bold;
}

.u-word-break-all {
	word-break: break-all !important;
}

.u-word-break {
	word-break: break-word !important;
}

.u-word-break-keep-all {
	word-break: keep-all !important;
}

.u-font-size-95per {
	font-size: 95% !important;
}

.u-font-size-100per {
	font-size: 100% !important;
}

.u-font-size-44px {
	font-size: calculate-rem(44px);
}

//--- MARGIN ---//
.u-m-5px {
	margin: 5px;
}

.u-ml-0 {
	margin-left: 0 !important;
}

.u-ml-10px {
	margin-left: calculate-rem(10px);
}

.u-mr-0px {
	margin-right: 0 !important;
}

.u-ml-0px {
	margin-left: 0 !important;
}

.u-mr-5px {
	margin-right: calculate-rem(5px);
}

.u-mt-2px {
	margin-top: calculate-rem(2px);
}

.u-paragraph-m-0 {
	p {
		margin: 0;
	}
}

.u-mb-13px {
	margin-bottom: 0.8rem !important;
}

.u-ml-minus-5px {
	margin-left: calculate-rem(-5px);
}

//--- PADDING ---//
.u-p-1per {
	padding: 1%;
}

@include media-breakpoint-down(sm) {
	.u-p-05per {
		padding: 0.5%;
	}
}

.u-p-x-0px {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

//--- WIDTH ---//
.u-w-10per {
	width: 10%;
}

.u-w-30per {
	width: 30%;
}

.u-w-37per {
	width: 37% !important;
}

.u-w-fit {
	width: fit-content !important;
}

.u-w-max-320px {
	max-width: 320px !important;
}

.u-w-1per-45px {
	width: 1%;
	min-width: 45px !important;
}

.u-w-3per-150px {
	width: 3%;
	min-width: 150px !important;
}

.u-w-3per-250px {
	width: 3%;
	min-width: 250px !important;
}

.u-w-30per-18rem {
	width: 30% !important;
	min-width: 18rem;
}
.u-w-85px {
	width: 85px;
}

.u-w-90per {
	width: 90%;
}

.u-min-w-650px {
	min-width: 650px !important;
}

@include media-breakpoint-down(sm) {
	.u-w-sm-down-100 {
		width: 100%;
	}
}

@include media-breakpoint-down(xs) {
	.u-w-xs-down-100 {
		width: 100%;
	}
}

.u-max-w-150px {
	max-width: 150px;
}

//--- HEIGHT ---//
.u-h-600px {
	height: 600px !important;
}

.u-h-input-text {
	height: $h-input-text;
}

.u-h-120px {
	height: $h-modal-logo;
}

.u-h-fit {
	height: fit-content !important;
}

.u-h-70vh {
	height: 70vh !important;
}

//--- WHITE SPACE ---//
.u-white-space-nowrap {
	white-space: nowrap !important;
}

//--- BORDER ---//
@media only screen and (max-width: 990px) {
	.u-border-bottom-label-md {
		border-bottom: 1px solid #dee2e6;
	}
}

@media only screen and (max-width: 575px) {
	.u-border-bottom-value-sm {
		border-bottom: 1px solid #dee2e6;
	}
}

@media only screen and (max-width: 991px) {
	.u-border-right-0-md {
		border-right: none !important;
	}
}

@media only screen and (max-width: 575px) {
	.u-border-bottom-0-sm {
		border-bottom: none !important;
	}
}

//--- BACKGROUND ---//
.u-bg-twilight {
	background-color: #404952 !important;
	color: #fff;
}

.u-bg-modern {
	background-color: #0d9605 !important;
}

.u-rotate-90 {
	transform: rotate(0.75turn);
	position: absolute;
}

.u-hide-underneath {
	z-index: -1;
}

.u-white-space-n {
	white-space: normal !important;
}

.u-cursor-pointer {
	cursor: pointer;
	text-decoration: none !important;
}

.u-cursor-auto {
	cursor: auto;
}

.u-cursor-grab {
	cursor: -webkit-grab;
}

.u-overflow-auto {
	overflow: auto !important;
}

@include media-breakpoint-down(xs) {
	.u-overflow-scroll-xs-down {
		overflow: scroll !important;
	}
}

.u-remove-dropdown-icon {
	.dropdown-toggle::after {
		display: none;
	}
}

@include media-breakpoint-down(lg) {
	.u-remove-dropdown-icon-down-lg {
		.dropdown-toggle::after {
			display: none;
		}
	}
}

//--- TABLE ---//
.u-w-30per {
	width: 30%;
}

.u-w-8per {
	width: 8%;
}

.u-w-5per {
	min-width: 5%;
	max-width: 25%;
}

.u-disabled {
	pointer-events: none;
	opacity: 0.65;
}

.u-box-shadow {
	@include u-box-shadow(3px 3px 14px 0 rgba(50, 50, 50, 0.75));
}

@each $breakpoint, $max in $grid-breakpoints {
	@if $max > 0 {
		@media (max-width: $max) {
			.display-block-#{$breakpoint} {
				display: block !important;
			}
		}
	}

}

.u-opacity-muted {
	opacity: 0.2;
}

//--- COLUMNS ---///
.u-columns {
	&__item {
		display: inline-block;
		width: 100%;
	}

	&-gap-1rem {
		@include u-column-gap(1rem);
	}

	&-count-3 {
		@include u-column-count(3);
	}

	&-width-36rem {
		@include u-column-width(36rem);
	}
}

//--- POSITIONS ---//
.u-position-r-10px {
	right: calculate-rem(10px);
}

.u-position-t-10px {
	top: calculate-rem(10px);
}

.u-position-r-5px {
	right: calculate-rem(5px);
}

.u-position-t-5px {
	top: calculate-rem(5px);
}

.u-position-t-2px {
	top: calculate-rem(2px);
}

//--- ALIGN ---//

.u-align-middle-children {
	* {
		vertical-align: middle !important;
	}
}
