/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.u-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
	overflow: initial;
  }
}
.u-cursor-pointer {
  cursor: pointer;
  text-decoration: none !important;
}
.u-text-small-bold {
  @extend .small;
  @extend .font-weight-bold;
}
.u-rotate-90 {
  transform: rotate(0.75turn);
  position: absolute;
}
.u-magin-left-zero {
  margin-left: 0px !important;
}
.u-w-auto {
  width: auto !important;
}
.u-overflow-auto {
	overflow: auto !important;
}
.u-remove-dropdown-icon {
  .dropdown-toggle::after {
	display: none;
  }
}
@media only screen and (max-width: 990px) {
  .u-border-bottom-label-md {
	border-bottom: 1px solid #dee2e6;
  }
}
@media only screen and (max-width: 575px) {
  .u-border-bottom-value-sm {
	border-bottom: 1px solid #dee2e6;
  }
}
@media only screen and (max-width: 991px) {
  .u-border-right-0-md {
	border-right: none !important;
  }
}
@media only screen and (max-width: 575px) {
  .u-border-bottom-0-sm {
	border-bottom: none !important;
  }
}
.u-position-label {
  @extend .col-12;
  @extend .col-sm-6;
  @extend .col-lg-12;
  @extend .mb-lg-2;
  @extend .mb-2;
  @extend .px-0;
  @extend .d-flex;
  @extend .justify-content-lg-center;
  @extend .justify-content-center;
  @extend .justify-content-xl-start;
  @extend .justify-content-sm-start;
}
.u-position-button {
  @extend .col-12;
  @extend .col-sm-6;
  @extend .col-lg-12;
  @extend .px-0;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .justify-content-sm-end;
  @extend .justify-content-lg-center;
  @extend .justify-content-xl-end;
}
.u-alphabet-sorting {
  a {
	@extend .h5;
	@extend .font-weight-bold;
  }
  @extend .text-center;
}
// a little bigger badge
.u-badge {
  font-size: 90%;
}
.u-hide-underneath {
  z-index: -1;
}
.u-bg-twilight {
  background-color: #404952 !important;
  color: #fff;
}
.u-bg-modern {
  background-color: #0d9605 !important;
}
.u-hover-bold:hover {
  @extend .font-weight-bold;
}
@mixin u-transition($settings) {
  -webkit-transition: $settings;
  -moz-transition: $settings;
  -ms-transition: $settings;
  -o-transition: $settings;
  transition: $settings;
}
.u-btn-collapsible {
  overflow: hidden;
  @include u-transition(all 275ms ease);
  max-width: 40px;
  &.btn-xs {
	max-width: 25px;
  }
  &.btn-sm {
	max-width: 32px;
  }
  &.btn-lg {
	max-width: 50px;
  }
  span {
	opacity: 0;
	text-indent: -6px;
	display: inline-block;
	@include u-transition(all 275ms ease);
  }
  &:hover {
	max-width: 300px;
	@include u-transition(all 275ms ease);
	span {
	  opacity: 1;
	  text-indent: 0px;
	  @include u-transition(all 275ms ease);
	}
  }
}