/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.u-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
	overflow: initial;
  }
}
.u-cursor-pointer {
  cursor: pointer;
  text-decoration: none !important;
}
.u-text-small-bold {
  @extend .small;
  @extend .font-weight-bold;
}
.u-rotate-90 {
  transform: rotate(0.75turn);
  position: absolute;
}
@media only screen and (max-width: 990px) {
  .u-border-bottom-label-md {
	border-bottom: 1px solid #dee2e6;
  }
}
@media only screen and (max-width: 575px) {
  .u-border-bottom-value-sm {
	border-bottom: 1px solid #dee2e6;
  }
}
@media only screen and (max-width: 991px) {
  .u-border-right-0-md {
	border-right: none !important;
  }
}
@media only screen and (max-width: 575px) {
  .u-border-bottom-0-sm {
	border-bottom: none !important;
  }
}
.u-position-label{
	@extend .col-12;
	@extend .col-sm-6;
	@extend .col-lg-12;
	@extend .mb-lg-2;
	@extend .mb-2;
	@extend .px-0;
	@extend .d-flex;
	@extend .justify-content-lg-center;
	@extend .justify-content-center;
	@extend .justify-content-xl-start;
	@extend .justify-content-sm-start;
}
.u-position-button{
	@extend .col-12;
	@extend .col-sm-6;
	@extend .col-lg-12;
	@extend .px-0;
	@extend .d-flex;
	@extend .justify-content-center;
	@extend .justify-content-sm-end;
	@extend .justify-content-lg-center;
	@extend .justify-content-xl-end;
}
.u-alphabet-sorting {
  a {
	@extend .h5;
	@extend .font-weight-bold;
  }
	@extend .text-center;
}
/*.u-alphabet-search {
  a {
	width: 45px;
  }
  @extend .d-inline-block;
  @extend .m-2;
}*/
// a little bigger badge
.u-badge {
  font-size: 90%;
}
.u-hide-underneath {
  z-index: -1;
}
