/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

//-------- sizes --------//

$footerHeight: 33px;
$iconButtonWidth: 42px;
$inputHeight: 37px;
$menuItemsHeight: 32px;
$select2InputFont: 0.875rem;

//-------- colors --------//

$primary: #4A5364;
