/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

//colors
:root {
	--yf-darkblue: #4A5364;
}
$white: #fff;
$lightgray: #eee;
$darkblue: #404952;
//sizes
$footerHeight: 33px;
$iconButtonWidth: 42px;
$inputHeight: 37px;
$font14: 14px;
$font16: 16px;
$fontMedium: 18px;
