/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

//-------- sizes --------//

$iconButtonWidth: 42px;

$footerHeight: 33px;
$inputHeight: 37px;
$menuItemsHeight: 32px;
$btn-sm-height: 31px;
$headerHeight: 50px;
$mainViewportHeight: calc(100vh - #{$footerHeight + $headerHeight});

$select2InputFont: 0.875rem;
$fontSmall: 0.8rem;
//-------- colors --------//

$YnavBarBackground: #4A5364;
