DIV.fixedLay {
    border:3px solid #CCCCCC;
    background-color:#FFFFFF;
    width:500px;
    position:fixed;
    left:250px;
    top:200px;
    display:block;
}

.dvtSelectedCell {
    border-left:1px solid #e0dddd;
    border-top:1px solid #e0dddd;
    border-bottom:0px solid #e0dddd;
    border-right:1px solid #e0dddd;
    padding-left:20px;
    padding-right:20px;
    /*background-color:#dedede;*/
    /*background:#d9dde6 url(images/light-bg11.png) bottom repeat-x; */
    background:#ffffff url(images/tab.gif) top repeat-x;
    font-weight:bold;
    color: black;
    line-height:20px;
}

.dvtUnSelectedCell {
    border-left:1px solid #dedede;
    border-top:1px solid #e0dddd;
    border-right:1px solid #e0dddd;
    border-bottom:1px solid #e0dddd;
    padding-left:20px;
    padding-right:20px;
    background: #FFF ;
    cursor:pointer;
    color: black;
}