/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.mainBody {
	background-color: $yf-gray-bg;
}
.Vtiger_Index {
	.input-group-append {
		border-bottom: 1px solid $yf-gray-bg !important;
		color: $yf-gray-bg;
	}
	.o-shop__nav {
		&__item {
			text-transform: uppercase;
		}
	}
}
