<?php

include_once 'include/main/WebUI.php';
$current_user = Users::getActiveAdminUser();

$adb = PearDatabase::getInstance(); 
$cron = TRUE;
$log = vglobal('log');
$log->info('Cron BackUp - Start backup');
$backupModel = new Settings_BackUp_Module_Model();
// Backup database
$backupModel->cronBackUp();

if (extension_loaded('zip')) {
	// Backup fiels
	$backupModel = new Settings_BackUp_Module_Model();
	$dirsFromConfig = $backupModel->getConfig('folder');
	$newBackup = $backupModel->clearBackupFilesTable();
	$dirs = array_filter(array_merge(glob('*'), glob('.htaccess'))); 
	$dirs = array_diff($dirs, array('cache'));
	if('true' != $dirsFromConfig['storage_folder'])
		$dirs = array_diff($dirs, ['storage']);
	if('true' != $dirsFromConfig['backup_folder'])
		$dirs = array_diff($dirs, [$backupModel->destDir]);

	$backUpInfo = $backupModel->getBackUpInfo();
	$sqlFileName = $backUpInfo['file_name'];
	$fileName = $sqlFileName.'.files';

	if ($newBackup) {
		$log->info('Cron BackUp - New files backup');
		foreach ($dirs as $dir) {
			$backupModel->generateFilesStructure($dir);
		}
	}
	$backupModel->zipData($fileName, $cron );
	
	$zip = new ZipArchive();
	$zip->open( $backupModel->destDir.'/'.$sqlFileName.'.zip', ZipArchive::CREATE );
	$zip->addFile( $backupModel->tempDir.'/'.$sqlFileName.'.db.zip', "db.zip" );
	$zip->addFile( $backupModel->tempDir.'/'.$fileName.'.zip', "files.zip" );
	$zip->close();

	$backupModel->setBackUp();
	$backupModel->deleteTmpBackUpContent();
	$backupModel->deleteFile($sqlFileName . '.db.zip');
	$backupModel->deleteFile($fileName . '.zip');
}else{
	$log->fatal('Cron BackUp - No library ZIP');
}
$log->info('Cron BackUp - End backup');
