<?php
/* {[The file is published on the basis of YetiForce Public License that can be found in the following directory: licenses/License.html]} */

include_once 'include/main/WebUI.php';
$current_user = Users::getActiveAdminUser();


\App\Log::trace('Cron BackUp - Start backup');
$backupModel = new Settings_BackUp_Module_Model();
$backupModel->runBackup();
\App\Log::trace('Cron BackUp - End backup');
