<?php
include_once 'include/main/WebUI.php';
$current_user = Users::getActiveAdminUser();

$adb = PearDatabase::getInstance(); $log = vglobal('log');
$log = &LoggerManager::getLogger('SendReminder');
$log->debug(" Start SendReminder ");

$query="SELECT vtiger_crmentity.crmid, vtiger_crmentity.smownerid, vtiger_activity.*, vtiger_activity_reminder.reminder_time, vtiger_activity_reminder.reminder_sent, vtiger_activity_reminder.recurringid, vtiger_recurringevents.recurringdate, vtiger_crmentity.setype AS crmsetype
FROM vtiger_activity 
INNER JOIN vtiger_crmentity ON vtiger_crmentity.crmid=vtiger_activity.activityid 
INNER JOIN vtiger_activity_reminder ON vtiger_activity.activityid=vtiger_activity_reminder.activity_id 
LEFT OUTER JOIN vtiger_recurringevents ON vtiger_activity.activityid=vtiger_recurringevents.activityid 
WHERE DATE_FORMAT(vtiger_activity.date_start,'%Y-%m-%d, %H:%i:%s') >= '".date('Y-m-d')."' 
AND vtiger_crmentity.crmid != 0 
AND vtiger_activity.status = 'PLL_PLANNED' 
AND vtiger_activity_reminder.reminder_sent = 0 
GROUP BY vtiger_activity.activityid,vtiger_recurringevents.recurringid";

$result = $adb->pquery($query, array());
if($adb->num_rows($result) >= 1)
{
	//To fetch reminder frequency from cron tasks
	$reminderFrequencyQuery = 'SELECT frequency FROM vtiger_cron_task WHERE name = "SendReminder" AND handler_file = "cron/SendReminder.service"';
	$reminderResult = $adb->pquery($reminderFrequencyQuery, array());
	$reminderFrequency = $adb->query_result($reminderResult,0,'frequency');

	while($result_set = $adb->fetch_array($result))
	{
		$date_start = $result_set['date_start'];
		$time_start = $result_set['time_start'];
		$reminder_time = $result_set['reminder_time']*60;
		$date = new DateTimeField( null );
        $userFormatedString = $date->getDisplayDate();
        $timeFormatedString = $date->getDisplayTime();
        $dBFomatedDate = DateTimeField::convertToDBFormat($userFormatedString);
		$curr_time = strtotime($dBFomatedDate." ". $timeFormatedString);
		$activity_id = $result_set['activityid'];
		$activitymode = ($result_set['activitytype'] == "Task")?"Task":"Events";
		$parent_type = $result_set['setype'];
		$activity_sub = $result_set['subject'];
		$to_addr='';

		//code included for recurring events by jaguar starts
		$recur_id = $result_set['recurringid'];
		$current_date=date('Y-m-d');
		if($recur_id == 0)
		{
			$date_start = $result_set['date_start'];
		}
		else
		{
			$date_start = $result_set['recurringdate'];
		}
		//code included for recurring events by jaguar ends
		$date = new DateTimeField("$date_start $time_start");
        $userFormatedString = $date->getDisplayDate();
        $timeFormatedString = $date->getDisplayTime();
        $dBFomatedDate = DateTimeField::convertToDBFormat($userFormatedString);
		$activity_time = strtotime($dBFomatedDate.' '.$timeFormatedString);
		$differenceOfActivityTimeAndCurrentTime = ($activity_time - $curr_time);
	
		if (($differenceOfActivityTimeAndCurrentTime > 0) && (($differenceOfActivityTimeAndCurrentTime <= $reminder_time) || ($differenceOfActivityTimeAndCurrentTime <= $reminderFrequency)))
		{
			$log->debug(" InSide  REMINDER");
			$query_user="SELECT vtiger_users.email1,vtiger_salesmanactivityrel.smid 
				FROM vtiger_salesmanactivityrel 
				INNER JOIN vtiger_users ON vtiger_users.id=vtiger_salesmanactivityrel.smid 
				WHERE vtiger_salesmanactivityrel.activityid =? 
				AND vtiger_users.deleted=0";
			$user_result = $adb->pquery($query_user, array($activity_id));
			$invitedUsersList = array();
			if($adb->num_rows($user_result)>=1)
			{
				while($user_result_row = $adb->fetch_array($user_result))
				{
					if($user_result_row['email1']!='' || $user_result_row['email1'] !=NULL)
					{
						$to_addr .= $user_result_row['email1'].',';
					}
					$invitedUsersList[] = $user_result_row['smid'];
				}
			}
			if($result_set['activitytype'] == "Task"){
				$sysname = 'ActivityReminderNotificationTask';
			}else{
				$sysname = 'ActivityReminderNotificationEvents';
			}		
			
			if($to_addr != '')
			{
				$data = [
					'sysname' => $sysname,
					'to_email' => rtrim($to_addr, ','),
					'module' => 'Calendar',
					'record' => $activity_id,
				];
				$recordModel = Vtiger_Record_Model::getCleanInstance('OSSMailTemplates');
				$recordModel->sendMailFromTemplate($data);

				$upd_query = 'UPDATE vtiger_activity_reminder SET reminder_sent=1 where activity_id=?';
				$upd_params = [$activity_id];
				if($recur_id!=0)
				{
					$upd_query.=" and recurringid =?";
					array_push($upd_params, $recur_id);
				}
				$adb->pquery($upd_query, $upd_params);
			}
		}
	}
}
