/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.jstree-default .jstree-themeicon-custom {
	background-size: 20px 20px;
	background-position-y: 2px;
}

.jstree-default .jstree-themeicon-custom.menu-icon-Module {
	background-image: url('../../../../basic/images/menu_0.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-Shortcut {
	background-image: url('../../../../basic/images/menu_1.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-Label {
	background-image: url('../../../../basic/images/menu_2.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-Separator {
	background-image: url('../../../../basic/images/menu_3.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-Script {
	background-image: url('../../../../basic/images/menu_4.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-QuickCreate {
	background-image: url('../../../../basic/images/menu_5.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-HomeIcon {
	background-image: url('../../../../basic/images/menu_6.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-CustomFilter {
	background-image: url('../../../../basic/images/menu_7.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-Profile {
	background-image: url('../../../../basic/images/menu_2.png');
}

.jstree-default .jstree-themeicon-custom.menu-icon-RecycleBin {
	background-image: url('../../../../basic/images/menu_0.png');
}
