/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
.state-highlight {
	height: 2em;
	line-height: 2em;
	border: 1px solid #ffd600;
	background-color: #f9ffb3;
	border-style: dashed;
}
.blocks-content {
	background: white;
	border: 1px solid #dddddd;
}
.modal-Fields .col-md-7 {
	margin-bottom: 9px;
}
.ui-sortable-helper {
	background: white;
	-webkit-box-shadow: 0 0 3px -1px #dddddd;
	-moz-box-shadow: 0 0 3px -1px #dddddd;
	box-shadow: 0 0 3px -1px #dddddd;
}
.js-help-info .fa-info-circle {
	margin-left: 3px;
}
.form-switch-mini .control-label {
	padding-top: 2px !important;
}
.form-horizontal .form-container-sm .form-group {
	margin-bottom: 3px;
}
.form-group-sm .form-control-static {
	padding-right: 15px;
	padding-left: 15px;
}
.blocksSortable {
	min-height: 30px;
}
