/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
#edit_lang .table.table-condensed td {
	padding: 4px 10px;
}
#edit_lang .empty_value {
	border-color: #ff0500;
}
