/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@mixin u-transition($settings) {
	-webkit-transition: $settings;
	-moz-transition: $settings;
	-ms-transition: $settings;
	-o-transition: $settings;
	transition: $settings;
}

@mixin u-box-shadow($settings) {
	-moz-box-shadow: $settings;
	-webkit-box-shadow: $settings;
	box-shadow: $settings;
}

@mixin u-column-count($number) {
	-webkit-column-count: $number;
	-moz-column-count: $number;
	column-count: $number;
}

@mixin u-column-gap($number) {
	-webkit-column-gap: $number;
	-moz-column-gap: $number;
	column-gap: $number;
}

@mixin u-column-width($number) {
	-webkit-column-width: $number;
	-moz-column-width: $number;
	column-width: $number;
}

@mixin u-text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin c-detail-widget__actions($breakpoint-down, $breakpoint-up) {
	.c-detail-widget__actions {
		@include media-breakpoint-down($breakpoint-down) {
			position: absolute;
			right: calculate-rem(15px);
			bottom: 0;
			$w-fab-button: calculate-rem(35px);
			$fab-padding: calculate-rem(4px);
		}
	}
}

@mixin c-btn-floating-right-bottom($right: 5px, $bottom: 17px) {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: calculate-rem($bottom);
	right: calculate-rem($right);
	z-index: 9999999;
	border-radius: 50%;
	width: calculate-rem(35px);
	height: calculate-rem(35px);
	opacity: 0.8;
}

@mixin u-transform($rotateDeg) {
	.u-transform_rotate-#{$rotateDeg} {
		display: inline-block;
		@include u-transition(transform 0.5s ease);
	}
	.collapsed {
		.u-transform_rotate-#{$rotateDeg},
		&.u-transform_rotate-#{$rotateDeg} {
			transform: rotate($rotateDeg);
		}
	}
}
