/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@import '../../../libraries/sass-material-colors/sass/_sass-material-colors.scss';
@import "../../../libraries/bootstrap/scss/_functions";
@import '../../../libraries/bootstrap/scss/_mixins';

//-------- override bootstrap variables --------//
$link-color: #006cdf;
$secondary: #5e666c;
$blue: #337ab7;
$indigo-dark: material-color('indigo', '600');
$pagination-color: $link-color;

//-------- sizes --------//
$iconButtonWidth: 42px;

$footerHeight: 33px;
$inputHeight: 37px;
$input-text-height: 24px;
$menuItemsHeight: 32px;
$btn-sm-height: 31px;
$headerHeight: 50px;
$mainViewportHeight: calc(100vh - #{$footerHeight + $headerHeight});
$bs4-button-padding: 0.375rem 0.75rem;

$select2InputFont: 0.875rem;
$fontSmall: 0.8rem;

//-------- colors --------//
$y-navbar-background: #4a5364;
$y-navbar-font-color: #fff;

$y-menu-background: $y-navbar-background;
$y-menu-font-color: #f8f9fa;

//-------- related tabs --------//
$y-rtabs-background: #f1f1f1;
$y-rtabs-active-background: #404952;
$y-rtabs-border-color: $y-rtabs-active-background;
$y-rtabs-active-font-color: #fff;
