/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

@import "../../../libraries/bootstrap/scss/functions";
@import '../../../libraries/bootstrap/scss/variables';
@import '../../../libraries/bootstrap/scss/mixins';

//-------- override bootstrap variables --------//
$link-color: #006cdf;
$secondary: #5e666c;
$pagination-color: $link-color;

//-------- sizes --------//
$iconButtonWidth: 42px;

$footerHeight: 33px;
$inputHeight: 37px;
$input-text-height: 24px;
$menuItemsHeight: 32px;
$btn-sm-height: 31px;
$headerHeight: 50px;
$mainViewportHeight: calc(100vh - #{$footerHeight + $headerHeight});

$select2InputFont: 0.875rem;
$fontSmall: 0.8rem;

//-------- colors --------//
$y-navbar-background: #4A5364;
$y-navbar-font-color: #ffffff;

$y-menu-background: $y-navbar-background;
$y-menu-font-color: #f8f9fa;