/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@charset 'UTF-8';
//-------- global variables --------//
@import '_Variables';
//-------- bootstrap --------//
@import '../../../libraries/bootstrap/scss/bootstrap';
@import '../../../libraries/select2-bootstrap-theme/dist/select2-bootstrap.css';
//-------- base --------//
@import '_Style';
//-------- components --------//
@import 'components/_Utilities';
@import 'components/_Global';
@import 'components/_Buttons';
//-------- libraries --------//
@import 'libraries/_Libraries';
@import 'libraries/_Bootstrap';
@import 'libraries/_FullCalendar';
@import '../../../libraries/sass-material-colors/sass/_sass-material-colors-classes.scss';
//-------- layout --------//
@import 'layout/_Base';
@import 'layout/_Header';
@import 'layout/_Nav';
@import 'layout/_Footer';
@import 'layout/_Modal';
//-------- pages --------//
@import 'pages/_Dashboard';
@import 'pages/_Calendar';
@import 'pages/_Detail';
@import 'pages/_List';
@import 'pages/_ListPreview';
