@charset 'UTF-8';
@import '../../../libraries/bootstrap/scss/bootstrap';
@import '_Style';

//base
@import 'components/_Variables';
@import 'components/_Libraries';

//layout
@import 'layout/_Header';
@import 'layout/_Nav';
@import 'layout/_Footer';
@import 'pages/_Dashboard';
