/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.table td.wide,
.listViewEntries td.wide,
td.listViewEntryValue.wide {
	&:not(.listButtons) {
		padding: calculate-rem(15px);
		font-size: 1rem;
	}
}

.table td.medium,
.listViewEntries td.medium,
td.listViewEntryValue.medium {
	&:not(.listButtons) {
		padding: calculate-rem(10px);
	}
	&[data-field-type="image"],
	&[data-field-type="multiImage"] {
		padding: 0;
	}
}

.table td.narrow,
.listViewEntries td.narrow,
td.listViewEntryValue.narrow {
	&:not(.listButtons) {
		padding: calculate-rem(6px);
	}
	&[data-field-type="image"],
	&[data-field-type="multiImage"] {
		padding: 0;
	}
}

.table thead th.narrow {
	vertical-align: middle;
}

@media screen and (max-width: 992px) {
	.quickCreateContent .fieldsLabelValue {
		&.narrow {
			padding-top: calculate-rem(5px);
			padding-bottom: calculate-rem(2px);
		}

		&.medium {
			padding-top: calculate-rem(10px);
			padding-bottom: calculate-rem(10px);
		}

		&.wide {
			padding-top: calculate-rem(15px);
			padding-bottom: calculate-rem(15px);
		}
	}
}

@media only screen and (min-width: 992px) {
	.quickCreateContent {
		.fieldsLabelValue {
			&.narrow {
				padding-top: calculate-rem(5px);
				padding-bottom: calculate-rem(2px);
			}

			&.medium {
				padding: calculate-rem(10px) 0;
			}

			&.wide {
				padding-top: calculate-rem(15px);
				padding-bottom: calculate-rem(15px);
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.quickCreateContent .fieldsLabelValue {
		&.wide {
			padding-top: calculate-rem(5px);
			padding-bottom: calculate-rem(15px);
		}

		&.narrow {
			padding-bottom: calculate-rem(5px);
		}

		&.medium {
			padding-top: 0;
			padding-bottom: calculate-rem(10px);
		}
	}
}
.detailViewTable {
	.fieldLabel.narrow,
	.fieldValue.narrow {
		.btn.btn-sm {
			@extend .btn-xs;
		}
		min-height: calculate-rem(30px);
	}

	.fieldLabel.medium,
	.fieldValue.medium {
		min-height: calculate-rem(40px);
	}

	.fieldLabel.wide,
	.fieldValue.wide {
		min-height: calculate-rem(50px);
	}
}

table {
	.listButtons {
		padding-top: 0;
		padding-bottom: 0;
		vertical-align: middle;
	}
	.listButtons.narrow {
		.btn.btn-sm {
			@extend .btn-xs;
		}
		.c-badge__icon {
			font-size: calculate-rem(10px);
			width: calculate-rem(22px);
			height: calculate-rem(22px);
			line-height: calculate-rem(19px);
		}
	}
}
