/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.widgetHr {
	border: none;
}

.mailsList {
	.mailActions {
		a {
			&:first-child {
				margin-right: 0 !important;
			}
		}
	}
}

.inventorySummaryContainer {
	@extend .my-3;
	border-radius: 0;
	button {
		border-radius: 0;
	}
	.card-header {
		background-color: #fff;
		text-transform: uppercase;
		border: none;
	}
	margin-bottom: 1rem !important;
}
.dashboardWidget {
	box-shadow: 0px 5px 6px -7px $color-box-shadow;
	border: none;
	.dashboardWidgetHeader {
		background-color: $color-navbar;
		text-shadow: 0 1px $color-navbar;
		border: none;
	}

	h5 {
		text-transform: uppercase;
	}

	.widgetFooterContent .row:first-child {
		background-color: unset;
	}
}
.o-settings-dashboard {
	.dashboardWidget {
		box-shadow: 2px 2px 12px -6px $color-box-shadow;
	}
}
