/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

:root {
	--font-btn-color: black;
	--red: red;
	--box-shadow-color: rgba(0, 0, 0, 0.13);
	--c-active: #0072da;
	--color-bg: #d1d1db;
	--font-title-email: #a0a0ad;
	--secondary-relation-delete: #e2eaf1;
	--bg-action: #f8f9fa;
}
.c-detail-widget {
	box-shadow: -2px 4px 12px 0px var(--box-shadow-color);
}

.detailViewInfo .related .nav-pills .active {
	text-transform: uppercase;
}

.c-detail-widget__table th {
	background-color: var(--white);
	background-image: var(--white);
}

.c-detail-widget .mailsList .font-small.text-truncate a {
	color: var(--font-title-email);
}

.recordLabel {
	color: var(--c-active);
}

.flex-md-nowrap .u-min-w-md-70 .flex-nowrap .text-muted.u-white-space-nowrap {
	font-weight: 600;
	color: var(--gray-dark) !important;
}

.flex-md-nowrap .u-min-w-md-70 .flex-nowrap .js-popover-tooltip--record {
	font-weight: 600;
	color: var(--red) !important;
}

.o-header-toggle__actions .c-btn-link {
	background-color: var(--bg-action);
}

.o-header-toggle__actions .entityStateBtn {
	color: var(--white);
}

.c-detail-widget .mailsList .btn-secondary.relationDelete {
	background-color: var(--secondary-relation-delete);
}

.c-detail-widget .mailsList .btn-dark.relationDelete {
	background-color: var(--color-bg);
}

.c-detail-widget .mailsList .btn-outline-secondary,
.c-detail-widget .mailsList .relationDelete {
	color: var(--gray-dark);
	border-color: var(--color-bg);
}

//--- Widgets ---
.c-detail-widget {
	&__header {
		text-transform: uppercase;
	}

	&__content {
		position: relative;
	}

	.input-group-text,
	.btn,
	input,
	.select2 {
		border-radius: 0;
	}

	.changeDetailViewMode,
	.btn {
		text-transform: uppercase;
	}

	.widgetHr {
		border: none;
	}

	.js-hierarchy-comments-btn {
		font-size: 15px;
	}

	.flex-wrap {
		padding: 0.5rem;
	}
}

.c-table {
	&__row--hover {
		.medium {
			width: 50%;
		}
	}
}

.recentComments {
	.addCommentBlock {
		border-radius: 0;
	}
}

.detailViewInfo {
	@extend .mt-2;
}
