/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.tpl-Settings-Vtiger-CustomRecordNumbering .table th {
	background-color: var(--white);
	background-image: var(--white);
	border-top: 1px solid var(--white);
	border-bottom: 1px solid var(--white) !important;
	text-transform: uppercase;
}
.tpl-Settings-Vtiger-CustomRecordNumbering .table-bordered td {
	padding-bottom: 0.5rem !important;
}
.tpl-Settings-Vtiger-CustomRecordNumbering .table-bordered td,
.tpl-Settings-Vtiger-CustomRecordNumbering .table-bordered th {
	border: 1px solid var(--white);
}
tbody {
	background-color: var(--white);
}

.SearchFieldsEdit {
	th {
		width: 26%;
	}
	.alignMiddle.widthMin {
		text-align: center;
	}
	.alignMiddle.widthMin.noWrap {
		text-align: left;
	}
}
