/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.container-fluid[class$="-customrecordnumbering-container"] .table th {
	background-color: var(--white);
	background-image: var(--white);
	border-top: 1px solid var(--white);
	border-bottom: 1px solid var(--white) !important;
	text-transform: uppercase;
}
.container-fluid[class$="-customrecordnumbering-container"] .table-bordered td {
	padding-bottom: 0.5rem !important;
}
.container-fluid[class$="-customrecordnumbering-container"] .table-bordered td,
.container-fluid[class$="-customrecordnumbering-container"] .table-bordered th {
	border: 1px solid var(--white);
}
.o-calendar__container {
	tbody {
		background-color: var(--white);
	}
}

.SearchFieldsEdit {
	th {
		width: 26%;
	}
	.alignMiddle.widthMin {
		text-align: center;
	}
	.alignMiddle.widthMin.noWrap {
		text-align: left;
	}
}
