body{
	font-family: 'Tahoma' !important;
	color: #323232;
}
.bodyHeader {
	background: #00285f;	
}
.baseContainer .leftPanel:after{
	background: #fff;
}
.baseContainer .leftPanel a{
	color: #003c7d;
}
.nav > li > a:focus,
.reminderPostpone:hover,
.relatedHeader .btn-default.addButton:hover,
.listViewActionsDiv .btn-toolbar .btn:hover,
.btn-warning:hover,
.btn-success:hover,
.btn-info:hover,
.btn-default:hover,
.btn-danger:hover{
	color: #000;
}
.leftPanel .nav .subMenu:after{
	background: #00285f;
}
.baseContainer .leftPanel .menuContainer .subMenu a:hover,
.baseContainer .leftPanel .menuContainer .subMenu a:focus,
.baseContainer .leftPanel .menuContainer .subMenu button:hover,
.baseContainer .leftPanel .menuContainer .subMenu button:focus{
	background: #fff !important;
	color: #00285f !important;
}
.baseContainer .leftPanel .menuContainer .subMenu a{
	color: #fff;
}
.subMenu .menuSeparator{
	background: #00285f;
}
.vtFooter p,
.vtFooter p a{
	background: #00285f;
	color: #969696 ;
}
.baseContainer .basePanel {
	border-left: 2px solid #00285f;
}
.table tbody tr:nth-child(even){
	background: #f5f5f5;
}
.highlightBackgroundColor{
	background: #84d0f0 !important;
}
.nav li.active a,
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus,
.nav > li > a:hover, 
.nav > li > a:focus{
	background: #00285f !important; 
	color: #fff;
}
.nav.massEditTabs li a:hover strong{
	color: #fff;
}

.detailViewInfo .related .nav-pills .active > a, 
.detailViewInfo .related .nav-pills .active > a:hover,
.btn-primary,
.btn-primary:hover,
.widget_header,
.iconsInFooter{
	background: #00509e;
}
.related .nav-pills li a:hover {
	color: #fff;
	background-color: #00509e;
	border-radius: 1px;
}
.related .nav-pills{
	border-bottom: 3px solid #00509e
}
.listViewEntriesTable .listViewHeaders a.listViewHeaderValues,
.widget_header h4{
	color: #323232;
}
.listViewEntriesTable .listViewEntries{
	color: #646464;
}
.pageNumber.active.disabled a{
	background: #00509e;
}
.paginationDiv .pageInfo{
	color: #003c7d;
}
.columnSorted{
	background: #00509e !important;
	text-shadow: none;
}
#selectAllMsgDiv,
#deSelectAllMsgDiv{
	background-color: #00a8e4 !important;
	border-radius: 3px;
	padding: 3px 0 3px 0;
}
.btn-info{
	background-color: #84d0f0;
}
.btn-success,
.btn-success:hover{
	background-color: #8cc83c;
	border-color: transparent;
}
.formError .formErrorContent{
	background: #ff0000;
}
.bgDanger,
.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.alert-danger,
.btn-danger,
btn-danger:hover{
	background-color: #ff0000 !important;
}
.sk-cube-grid .sk-cube{
	background-color: #00a8e4;
}
.bgOrange,
.btn-info,
.alphabetSearch a.btn{
	background-color: #00a8e4 !important;
	color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.nav.massEditTabs li.active a{
	background-color: #003c7d;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{
	color: #fff;
	background-color: #00a8e4;
}
.bootstrap-switch.bootstrap-switch-focused{
	background-color: #003c7d;
}
.actionImages span.glyphicon,
.conditionRow .deleteCondition{
	color: #00285f;
}
.bgGreen{
	background-color: #8cc83c !important;
}
.bgDarkBlue{
	background-color: #00285f;
}
.tagAsterisk,
.tagText,
#tagRecord,
.reminderPostpone,
.relatedHeader .btn-default.addButton,
.listViewActionsDiv .btn-toolbar .btn{
	background-color: #00a8e4 !important;
	border-color: transparent !important;
}
.widget_header,
.widget_header a,
.alert-danger,
.relatedHeader .btn-default.addButton,
.listViewActionsDiv .btn-toolbar .btn,
.columnSorted a,
.baseContainer .leftPanel .userDetailsContainer a,
.baseContainer .leftPanel .menuContainer a:hover, 
.baseContainer .leftPanel .menuContainer a:focus{
	color: #fff !important;
}
.navbar-default{
	background-color: #00285f;
	border-color: transparent;
}
.redColor{
	color: #ff0000;
}
.btn-danger,
.btn-warning:hover,
.btn-info:hover,
.btn-success:hover{
	border-color: transparent;
}
.table th{
	text-shadow: none;
}
.userDetailsContainer{
	background-color: #00285f;
}
