@media only screen and (max-width: 480px) {
	#loginDiv{
		margin: 0px auto;
	}
	.login-area {
		max-width: 100%;
		margin: 0 auto;
	}
}
#loginDiv{
		margin: 0px auto;
	}
@media only screen and (min-width: 480px) {
	.login-area {
		max-width: 400px;
		margin: 0 auto;
	}
}

@media only screen and (max-height: 340px) {
	.login-space{
	    margin-top: 0;
	}
}
@media only screen and (min-height: 340px) and (max-height: 480px){
	.login-space{
	    margin-top: 10px;
	}
}
@media only screen and (min-height:480px){
    .login-space{
	margin-top: 70px;
    }
}
#forgotpassword .forgotpass{
	color: #bdbec4;
	text-decoration: none;
	margin: 0px 0px 0px 80px;
	font-family: candara;
}
@media only screen and (max-height:480px){
	#forgotpassword .forgotpass{
		color: #bdbec4;
		text-decoration: none;
		margin: 0px 0px 0px 30px;
		font-family: candara;
	}
}
.login-text{
	margin-top:10px;
}
.container{
	padding: 0;	
	margin-top: 5px;
}
#inputGroup{
	margin: 0px auto;
}
html body{
	background-image: url("images/background.jpg");	
	background-size: 100%;
	background-attachment: fixed;
	-moz-background-size: cover;	
	background-repeat: repeat-x none;
	background-repeat: repeat-y none;	
}
@media only screen and (max-width: 480px) {
	html body{
	background-image: url("images/background_phone.jpg");	
	background-size: 100%;		
	background-repeat: repeat-x none;
	background-repeat: repeat-y none;	
	}
}
.formGroup{
	
}
.container{
	
}
.login-form .form-group.first-group{
	margin-bottom: 0px;
}
.logo{
	margin: auto;
	margin-bottom: 30px;
	max-width: 100%;
	display: block;
}
.form-control{
	border: 0px;
	border-radius: 0px;
}
.login-user{	
	border-bottom: 1px solid #969BA6;
	font-family: candara;
	color: #fff;
	margin: 0px auto;
}
.login-password{
	
	border-bottom: 1px solid #969BA6;
	font-family: candara;
	color: #fff;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #fff !important;
	font-size: 12px;
} 
input:-moz-placeholder {
	color: #fff !important;
	font-size: 12px;
}
 
input::-moz-placeholder {
	color: #fff !important;
	font-size: 12px;
}
 
input:-ms-input-placeholder {  
	color: #fff !important;  
}
.form-control .input-lg{
	font-family: candara;
	
    }
.login-user .form-control:focus{
	    box-shadow: none;
}
.login-password .form-control:focus{
	    box-shadow: none;
}
.fieldContainer{
	width:100%;
	height: 100%;
	padding: 70px;
}
@media only screen and (max-width: 480px) {
	.fieldContainer{
		width:100%;
		height: 100%;
		padding: 0px;
	}
}
.noPadding{
	padding: 0 !important;
}
#forgotpass, .login-text a{
	color: #adb0b5;
}
.fieldContainer span{
	color: #4a5364;
	font-size:24px;
}
.fieldContainer input{
	background-color: transparent;
	color: #4a5364 !important;
}
.fieldContainer button{	
	font-size: 20px;
	color: #fff !important;
	padding: 0 !important;
	background-color: #55CAD1;
	font-family: Calibri;
}
@media (min-width: 768px) { 
	.visible-phone{ 
		visibility: hidden;
	}
}
@media (max-width: 767px) { 
	.visible-phone{ 
		visibility: visible;
	}
}
.heightDiv_2{
	height: 53px;
	border-radius: 0px;
	width: 100%;	
	margin: 30px auto -40px auto;
}
@media only screen and (max-height: 480px){
	.heightDiv_2{
		height: 53px;
		border-radius: 0px;
		width: 100%;	
		margin: 30px auto 8px auto;
	}
}
forgotPasswordDiv{
	color: #55CAD1;
}
.heightDiv_3{
	height: 158px;
}
.heightDiv_4{
	height: 214px;
}
select.form-control {
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
 }
