/* The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com */
@font-face {
	font-family: 'AdditionalIcon';
	src: url('additionalIcons.eot?solsms');
	src: url('additionalIcons.eot?solsms#iefix') format('embedded-opentype'),
	url('additionalIcons.ttf?solsms') format('truetype'),
	url('additionalIcons.woff?solsms') format('woff'),
	url('additionalIcons.svg?solsms#AdditionalIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="AdditionalIcon-"], [class*=" AdditionalIcon-"] {
	font-family: 'AdditionalIcon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.AdditionalIcon-Linkedin:before {
	content: "\e900";
}
.AdditionalIcon-Twitter:before {
	content: "\e903";
}
.AdditionalIcon-Facebook:before {
	content: "\e906";
}
.AdditionalIcon-Github:before {
	content: "\e907";
}
.AdditionalIcon-NetworkInterfaceCards:before {
	content: "\e901";
}
.AdditionalIcon-UtmNgf:before {
	content: "\e902";
}
.AdditionalIcon-Virtualization:before {
	content: "\e904";
}
.AdditionalIcon-Ups:before {
	content: "\e905";
}
.AdditionalIcon-Notebooks:before {
	content: "\e908";
}
.AdditionalIcon-VideoConference:before {
	content: "\e909";
}
.AdditionalIcon-Encryption:before {
	content: "\e90b";
}
.AdditionalIcon-Servers:before {
	content: "\e90c";
}
.AdditionalIcon-EmailProtection:before {
	content: "\e912";
}
.AdditionalIcon-Other:before {
	content: "\e913";
}
.AdditionalIcon-BackUpCopies:before {
	content: "\e927";
}
.AdditionalIcon-Matrixes:before {
	content: "\e928";
}
.AdditionalIcon-Monitoring:before {
	content: "\e92b";
}
.AdditionalIcon-Antivirus:before {
	content: "\e931";
}
