@font-face {
	font-family: 'UserIcons';
	src: url('userIcons.eot?dfrtuf');
	src: url('userIcons.eot?dfrtuf#iefix') format('embedded-opentype'),
	url('userIcons.ttf?dfrtuf') format('truetype'),
	url('userIcons.woff?dfrtuf') format('woff'),
	url('userIcons.svg?dfrtuf#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="userIcon-"], [class*=" userIcon-"] {
	font-family: 'UserIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="userIcon-"]:before, [class*=" userIcon-"]:before {
	content: "\e90b";
}
.userIcon-CInternalTickets:before {
	content: "\e95f";
}
.userIcon-FCorectingInvoice:before {
	content: "\e95a";
}
.userIcon-ISTN:before {
	content: "\e95b";
}
.userIcon-ISTRN:before {
	content: "\e95c";
}
.userIcon-IGDNC:before {
	content: "\e957";
}
.userIcon-IGRNC:before {
	content: "\e958";
}
.userIcon-ISTDN:before {
	content: "\e959";
}
.userIcon-SVendorEnquiries:before {
	content: "\e956";
}
.userIcon-InternalTickets:before {
	content: "\e955";
}
.userIcon-CMileageLogbook:before {
	content: "\e954";
}
.userIcon-FInvoiceCost:before {
	content: "\e95d";
}
.userIcon-CFixedAssets:before {
	content: "\e95e";
}
.userIcon-IGDN:before {
	content: "\e94f";
}
.userIcon-IGIN:before {
	content: "\e950";
}
.userIcon-IGRN:before {
	content: "\e951";
}
.userIcon-IIDN:before {
	content: "\e952";
}
.userIcon-IPreOrder:before {
	content: "\e94d";
}
.userIcon-IStorages:before {
	content: "\e94e";
}
.userIcon-KnowledgeBase:before {
	content: "\e953";
}
.userIcon-ShoppingCart:before {
	content: "\e94a";
}
.userIcon-Target:before {
	content: "\e94b";
}
.userIcon-Plane:before {
	content: "\e94c";
}
.userIcon-WithoutOwnersAccounts:before {
	content: "\e949";
}
.userIcon-VendorsAccounts:before {
	content: "\e942";
}
.userIcon-CompanyAccounts:before {
	content: "\e943";
}
.userIcon-ShutdownAccounts:before {
	content: "\e944";
}
.userIcon-MyAccounts:before {
	content: "\e945";
}
.userIcon-UnassignedAccounts:before {
	content: "\e946";
}
.userIcon-AllAccounts:before {
	content: "\e947";
}
.userIcon-FInvoice:before {
	content: "\e93f";
}
.userIcon-FInvoiceProforma:before {
	content: "\e940";
}
.userIcon-ModComments:before {
	content: "\e941";
}
.userIcon-FBookkeeping:before {
	content: "\e93c";
}
.userIcon-Events:before {
	content: "\e93d";
}
.userIcon-Activity:before {
	content: "\e93e";
}
.userIcon-Marketing:before {
	content: "\e93b";
}
.userIcon-SRecurringOrders:before {
	content: "\e939";
}
.userIcon-Competition:before {
	content: "\e93a";
}
.userIcon-Accounts:before {
	content: "\e900";
}
.userIcon-CompaniesAndContact:before {
	content: "\e901";
}
.userIcon-HolidaysEntitlement:before {
	content: "\e902";
}
.userIcon-Assets:before {
	content: "\e903";
}
.userIcon-Bookkeeping:before {
	content: "\e904";
}
.userIcon-SCalculations:before {
	content: "\e905";
}
.userIcon-Calendar:before {
	content: "\e906";
}
.userIcon-CallHistory:before {
	content: "\e907";
}
.userIcon-Campaigns:before {
	content: "\e908";
}
.userIcon-Contacts:before {
	content: "\e909";
}
.userIcon-OSSMailView:before {
	content: "\e90a";
}
.userIcon-Database:before {
	content: "\e90b";
}
.userIcon-Documents:before {
	content: "\e90c";
}
.userIcon-OSSEmployees:before {
	content: "\e90d";
}
.userIcon-Faq:before {
	content: "\e90e";
}
.userIcon-Home:before {
	content: "\e90f";
}
.userIcon-HumanResources:before {
	content: "\e910";
}
.userIcon-Ideas:before {
	content: "\e911";
}
.userIcon-Leads:before {
	content: "\e912";
}
.userIcon-LettersIn:before {
	content: "\e913";
}
.userIcon-LettersOut:before {
	content: "\e914";
}
.userIcon-PBXManager:before {
	content: "\e915";
}
.userIcon-EmailTemplates:before {
	content: "\e916";
}
.userIcon-OSSMail:before {
	content: "\e917";
}
.userIcon-Announcements:before {
	content: "\e918";
}
.userIcon-SSalesProcesses:before {
	content: "\e919";
}
.userIcon-Portal:before {
	content: "\e91a";
}
.userIcon-OutsourcedProducts:before {
	content: "\e91b";
}
.userIcon-OSSOutsourcedServices:before {
	content: "\e91c";
}
.userIcon-Partners:before {
	content: "\e91d";
}
.userIcon-OSSPasswords:before {
	content: "\e91e";
}
.userIcon-PaymentsIn:before {
	content: "\e91f";
}
.userIcon-PaymentsOut:before {
	content: "\e920";
}
.userIcon-PriceBooks:before {
	content: "\e921";
}
.userIcon-Products:before {
	content: "\e922";
}
.userIcon-ProjectMilestone:before {
	content: "\e923";
}
.userIcon-Project:before {
	content: "\e924";
}
.userIcon-ProjectTask:before {
	content: "\e925";
}
.userIcon-SQuotes:before {
	content: "\e926";
}
.userIcon-Realization:before {
	content: "\e927";
}
.userIcon-Reports:before {
	content: "\e928";
}
.userIcon-Reservations:before {
	content: "\e929";
}
.userIcon-Rss:before {
	content: "\e92a";
}
.userIcon-Sales:before {
	content: "\e92b";
}
.userIcon-SQuoteEnquiries:before {
	content: "\e92c";
}
.userIcon-SSingleOrders:before {
	content: "\e92d";
}
.userIcon-SRequirementsCards:before {
	content: "\e92e";
}
.userIcon-Secretary:before {
	content: "\e92f";
}
.userIcon-ServiceContracts:before {
	content: "\e930";
}
.userIcon-Services:before {
	content: "\e931";
}
.userIcon-OSSSoldServices:before {
	content: "\e932";
}
.userIcon-Support:before {
	content: "\e933";
}
.userIcon-SMSNotifier:before {
	content: "\e934";
}
.userIcon-HelpDesk:before {
	content: "\e935";
}
.userIcon-OSSTimeControl:before {
	content: "\e936";
}
.userIcon-Vendors:before {
	content: "\e937";
}
.userIcon-VirtualDesk:before {
	content: "\e938";
}
