@font-face {
  font-family: 'userIcons';
  src:  url('userIcons.eot?4w4vvl');
  src:  url('userIcons.eot?4w4vvl#iefix') format('embedded-opentype'),
    url('userIcons.ttf?4w4vvl') format('truetype'),
    url('userIcons.woff?4w4vvl') format('woff'),
    url('userIcons.svg?4w4vvl#userIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="userIcon-"], [class*=" userIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'userIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.userIcon-UserMenu:before {
  content: "\e90a";
}
.userIcon-RoomMenu:before {
  content: "\e90b";
}
.userIcon-NotificationChatOff:before {
  content: "\e904";
}
.userIcon-OfflineRegister:before {
  content: "\e906";
}
.userIcon-EnterOn:before {
  content: "\e920";
}
.userIcon-Password:before {
  content: "\e91c";
}
.userIcon-virtual-desk:before {
  content: "\e917";
}
.userIcon-OSSMailScanner:before {
  content: "\e91f";
}
.userIcon-EnterOff:before {
  content: "\e905";
}
.userIcon-SupportPremium:before {
  content: "\e907";
}
.userIcon-UserPart:before {
  content: "\e908";
}
.userIcon-AdminPart:before {
  content: "\e909";
}
.userIcon-FavouriteRoom:before {
  content: "\e90c";
}
.userIcon-GroupRoom:before {
  content: "\e90d";
}
.userIcon-ParticipantChat:before {
  content: "\e90e";
}
.userIcon-GlobalRoom:before {
  content: "\e90f";
}
.userIcon-HashUser:before {
  content: "\e910";
}
.userIcon-BrandingChat:before {
  content: "\e911";
}
.userIcon-NotificationChatOn:before {
  content: "\e912";
}
.userIcon-CalendarNotifications:before {
  content: "\e913";
}
.userIcon-SupportFree:before {
  content: "\e914";
}
.userIcon-SpecialSearch:before {
  content: "\e915";
}
.userIcon-AdvancedSearch:before {
  content: "\e916";
}
.userIcon-ChatNotification:before {
  content: "\e918";
}
.userIcon-Knowledge-Base:before {
  content: "\e919";
}
.userIcon-Faq1:before {
  content: "\e91a";
}
.userIcon-MultiCompany:before {
  content: "\e91b";
}
.userIcon-ApiAddress:before {
  content: "\e91d";
}
.userIcon-OnlineRegister:before {
  content: "\e91e";
}
.userIcon-LocationRegister:before {
  content: "\e921";
}
.userIcon-DataSetRegister:before {
  content: "\e922";
}
.userIcon-IncidentRegister:before {
  content: "\e923";
}
.userIcon-Zasb-34:before {
  content: "\e925";
}
.userIcon-RecycleBin:before {
  content: "\e926";
}
.userIcon-Notification:before {
  content: "\e927";
}
.userIcon-OpenStreetMap:before {
  content: "\e929";
}
.userIcon-Chat:before {
  content: "\e92a";
}
.userIcon-BookKeeping:before {
  content: "\e8dd";
}
.userIcon-Sales:before {
  content: "\e8b5";
}
.userIcon-Potentials:before {
  content: "\e8c7";
}
.userIcon-Home2:before {
  content: "\e888";
}
.userIcon-VirtualDesk:before {
  content: "\e675";
}
.userIcon-Home:before {
  content: "\e886";
}
.userIcon-Calendar:before {
  content: "\e887";
}
.userIcon-OSSMail:before {
  content: "\e678";
}
.userIcon-CompainesAndContacts:before {
  content: "\e679";
}
.userIcon-Leads:before {
  content: "\e673";
}
.userIcon-Contacts:before {
  content: "\e674";
}
.userIcon-Vendors:before {
  content: "\e885";
}
.userIcon-Accounts:before {
  content: "\e884";
}
.userIcon-SSalesProcesses:before {
  content: "\e900";
}
.userIcon-SQuoteEnquiries:before {
  content: "\e87d";
}
.userIcon-SRequirementsCards:before {
  content: "\e87e";
}
.userIcon-SCalculations:before {
  content: "\e87f";
}
.userIcon-SQuotes:before {
  content: "\e880";
}
.userIcon-SSingleOrders:before {
  content: "\e881";
}
.userIcon-SRecurringOrders:before {
  content: "\e902";
}
.userIcon-Campaigns:before {
  content: "\e901";
}
.userIcon-PriceBooks:before {
  content: "\e903";
}
.userIcon-Projects2:before {
  content: "\e879";
}
.userIcon-Project:before {
  content: "\e6c5";
}
.userIcon-ProjectMilestone:before {
  content: "\e878";
}
.userIcon-ProjectTask:before {
  content: "\e6c8";
}
.userIcon-Support:before {
  content: "\e873";
}
.userIcon-HelpDesk:before {
  content: "\e874";
}
.userIcon-ServiceContracts:before {
  content: "\e875";
}
.userIcon-Faq:before {
  content: "\e876";
}
.userIcon-PaymentsOut:before {
  content: "\e872";
}
.userIcon-PaymentsIn:before {
  content: "\e877";
}
.userIcon-HumanResources:before {
  content: "\e86b";
}
.userIcon-OSSEmployees:before {
  content: "\e86c";
}
.userIcon-OSSTimeControl:before {
  content: "\e86d";
}
.userIcon-HolidaysEntitlement:before {
  content: "\e86e";
}
.userIcon-Secretary:before {
  content: "\e869";
}
.userIcon-LettersIn:before {
  content: "\e6a7";
}
.userIcon-LettersOut:before {
  content: "\e6a8";
}
.userIcon-Reservations:before {
  content: "\e86a";
}
.userIcon-Database:before {
  content: "\e856";
}
.userIcon-Products:before {
  content: "\e857";
}
.userIcon-OutsourcedProducts:before {
  content: "\e858";
}
.userIcon-Assets:before {
  content: "\e859";
}
.userIcon-Services:before {
  content: "\e85a";
}
.userIcon-OSSOutsourcedServices:before {
  content: "\e85b";
}
.userIcon-OSSSoldServices:before {
  content: "\e85c";
}
.userIcon-OSSMailView:before {
  content: "\e85d";
}
.userIcon-SMSNotifier:before {
  content: "\e85e";
}
.userIcon-PBXManager:before {
  content: "\e85f";
}
.userIcon-OSSMailTemplates:before {
  content: "\e860";
}
.userIcon-Documents:before {
  content: "\e861";
}
.userIcon-pdf:before {
  content: "\e862";
}
.userIcon-OSSPasswords:before {
  content: "\e863";
}
.userIcon-CallHistory:before {
  content: "\e864";
}
.userIcon-Rss:before {
  content: "\e865";
}
.userIcon-Portal:before {
  content: "\e866";
}
.userIcon-Reports:before {
  content: "\e867";
}
.userIcon-NewOrders:before {
  content: "\e868";
}
.userIcon-TeamWork:before {
  content: "\e6ce";
}
.userIcon-Ideas:before {
  content: "\e6cf";
}
