.picklistCBr_Calendar_activitytype_Task {
	border-color: #00d4f5 !important;
}
.picklistCBg_Calendar_activitytype_Task {
	background: #00d4f5 !important;
}
.picklistCT_Calendar_activitytype_Task {
	color: #00d4f5 !important;
}
.listCol_Task {
	background: #00d4f5;
}
.listCol_Call {
	background: #80b584;
}
.listCol_Meeting {
	background: #ffd500;
}
