.labelColor_Accounts_accountname{ color: #C82424; }
.labelColor_Accounts_account_no{ color: #82b814; }
.labelColor_Accounts_account_id{ color: #136E9C; }
.labelColor_Contacts_salutationtype{ color: #8fe2f2; }
.labelColor_Contacts_firstname{ color: #168af1; }
.labelColor_Contacts_contact_no{ color: #4cbde3; }
.labelColor_Contacts_lastname{ color: #a09eba; }
.labelColor_OSSPasswords_username{ color: #f16e9f; }
