.modCrBr_Home { border-color: #004D40; }
.modCBg_Home { background: #004D40 !important; font-weight: 500 !important; color: white !important;}
.modCT_Home { color: #004D40; }
.modCrBr_Contacts { border-color: #B92D2D; }
.modCBg_Contacts { background: #B92D2D !important; font-weight: 500 !important; color: black !important;}
.modCT_Contacts { color: #B92D2D; }
