.ownerCBg_1 {
	background: #e6fad8 !important;
	font-weight: 500 !important;
	color: black !important;
}
.ownerCT_1 {
	color: #e6fad8 !important;
}
.ownerCBr_1 {
	border-color: #e6fad8 !important;
}
.ownerCBg_2 {
	background: #e6fad8 !important;
	font-weight: 500 !important;
	color: black !important;
}
.ownerCT_2 {
	color: #e6fad8 !important;
}
.ownerCBr_2 {
	border-color: #e6fad8 !important;
}
.ownerCBg_3 {
	background: #e6fad8 !important;
	font-weight: 500 !important;
	color: black !important;
}
.ownerCT_3 {
	color: #e6fad8 !important;
}
.ownerCBr_3 {
	border-color: #e6fad8 !important;
}
.ownerCBg_4 {
	background: #e6fad8 !important;
	font-weight: 500 !important;
	color: black !important;
}
.ownerCT_4 {
	color: #e6fad8 !important;
}
.ownerCBr_4 {
	border-color: #e6fad8 !important;
}
