.ownerCBg_1 { background: #E6FAD8 !important; }
.ownerCT_1 { color: #E6FAD8 !important; }
.ownerCBr_1 { border-color: #E6FAD8 !important; }
.ownerCBg_5 { background: #fabe91 !important; }
.ownerCT_5 { color: #fabe91 !important; }
.ownerCBr_5 { border-color: #fabe91 !important; }
.ownerCBg_6 { background: #f29d17 !important; }
.ownerCT_6 { color: #f29d17 !important; }
.ownerCBr_6 { border-color: #f29d17 !important; }
.ownerCBg_7 { background: #8a9ce1 !important; }
.ownerCT_7 { color: #8a9ce1 !important; }
.ownerCBr_7 { border-color: #8a9ce1 !important; }
.ownerCBg_2 { background: #E6FAD8 !important; }
.ownerCT_2 { color: #E6FAD8 !important; }
.ownerCBr_2 { border-color: #E6FAD8 !important; }
.ownerCBg_3 { background: #63e48c !important; }
.ownerCT_3 { color: #63e48c !important; }
.ownerCBr_3 { border-color: #63e48c !important; }
.ownerCBg_4 { background: #b0ec18 !important; }
.ownerCT_4 { color: #b0ec18 !important; }
.ownerCBr_4 { border-color: #b0ec18 !important; }
