.ownerCBg_1 { background: #E6FAD8 !important; font-weight: 500 !important; color: black !important;}
.ownerCT_1 { color: #E6FAD8 !important; }
.ownerCBr_1 { border-color: #E6FAD8 !important; }
.ownerCBg_2 { background: #E6FAD8 !important; font-weight: 500 !important; color: black !important;}
.ownerCT_2 { color: #E6FAD8 !important; }
.ownerCBr_2 { border-color: #E6FAD8 !important; }
.ownerCBg_3 { background: #E6FAD8 !important; font-weight: 500 !important; color: black !important;}
.ownerCT_3 { color: #E6FAD8 !important; }
.ownerCBr_3 { border-color: #E6FAD8 !important; }
.ownerCBg_4 { background: #E6FAD8 !important; font-weight: 500 !important; color: black !important;}
.ownerCT_4 { color: #E6FAD8 !important; }
.ownerCBr_4 { border-color: #E6FAD8 !important; }
