.picklistCBr_Leads_leadstatus_PLL_PENDING { border-color: #4fafe3 !important; }
.picklistCBg_Leads_leadstatus_PLL_PENDING { background: #4fafe3 !important; }
.picklistCT_Leads_leadstatus_PLL_PENDING { color: #4fafe3 !important; }
.picklistLb_Leads_leadstatus_PLL_PENDING { background: #4fafe3; padding: 2px 7px 3px 7px;}
.picklistCBr_Leads_leadstatus_PLL_TO_REALIZE { border-color: #fc9787 !important; }
.picklistCBg_Leads_leadstatus_PLL_TO_REALIZE { background: #fc9787 !important; }
.picklistCT_Leads_leadstatus_PLL_TO_REALIZE { color: #fc9787 !important; }
.picklistLb_Leads_leadstatus_PLL_TO_REALIZE { background: #fc9787; padding: 2px 7px 3px 7px;}
.picklistCBr_Leads_leadstatus_PLL_IN_REALIZATION { border-color: #d6bbbe !important; }
.picklistCBg_Leads_leadstatus_PLL_IN_REALIZATION { background: #d6bbbe !important; }
.picklistCT_Leads_leadstatus_PLL_IN_REALIZATION { color: #d6bbbe !important; }
.picklistLb_Leads_leadstatus_PLL_IN_REALIZATION { background: #d6bbbe; padding: 2px 7px 3px 7px;}
.picklistCBr_Leads_leadstatus_PLL_CONTACTS_IN_THE_FUTURE { border-color: #6bd3d3 !important; }
.picklistCBg_Leads_leadstatus_PLL_CONTACTS_IN_THE_FUTURE { background: #6bd3d3 !important; }
.picklistCT_Leads_leadstatus_PLL_CONTACTS_IN_THE_FUTURE { color: #6bd3d3 !important; }
.picklistLb_Leads_leadstatus_PLL_CONTACTS_IN_THE_FUTURE { background: #6bd3d3; padding: 2px 7px 3px 7px;}
.picklistCBr_Leads_leadstatus_PLL_INCORRECT { border-color: #fded60 !important; }
.picklistCBg_Leads_leadstatus_PLL_INCORRECT { background: #fded60 !important; }
.picklistCT_Leads_leadstatus_PLL_INCORRECT { color: #fded60 !important; }
.picklistLb_Leads_leadstatus_PLL_INCORRECT { background: #fded60; padding: 2px 7px 3px 7px;}
.picklistCBr_Leads_leadstatus_PLL_LEAD_UNTAPPED { border-color: #067435 !important; }
.picklistCBg_Leads_leadstatus_PLL_LEAD_UNTAPPED { background: #067435 !important; }
.picklistCT_Leads_leadstatus_PLL_LEAD_UNTAPPED { color: #067435 !important; }
.picklistLb_Leads_leadstatus_PLL_LEAD_UNTAPPED { background: #067435; padding: 2px 7px 3px 7px;}
.picklistCBr_Leads_leadstatus_PLL_LEAD_ACQUIRED { border-color: #5384be !important; }
.picklistCBg_Leads_leadstatus_PLL_LEAD_ACQUIRED { background: #5384be !important; }
.picklistCT_Leads_leadstatus_PLL_LEAD_ACQUIRED { color: #5384be !important; }
.picklistLb_Leads_leadstatus_PLL_LEAD_ACQUIRED { background: #5384be; padding: 2px 7px 3px 7px;}
.picklistCBr_Calendar_activitytype_Call { border-color: #80B584 !important; }
.picklistCBg_Calendar_activitytype_Call { background: #80B584 !important; }
.picklistCT_Calendar_activitytype_Call { color: #80B584 !important; }
.picklistLb_Calendar_activitytype_Call { background: #80B584; padding: 2px 7px 3px 7px;}
.picklistCBr_Calendar_activitytype_Meeting { border-color: #FFD500 !important; }
.picklistCBg_Calendar_activitytype_Meeting { background: #FFD500 !important; }
.picklistCT_Calendar_activitytype_Meeting { color: #FFD500 !important; }
.picklistLb_Calendar_activitytype_Meeting { background: #FFD500; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_Open { border-color: #855000 !important; }
.picklistCBg_HelpDesk_ticketstatus_Open { background: #855000 !important; }
.picklistCT_HelpDesk_ticketstatus_Open { color: #855000 !important; }
.picklistLb_HelpDesk_ticketstatus_Open { background: #855000; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_Answered { border-color: #0038ff !important; }
.picklistCBg_HelpDesk_ticketstatus_Answered { background: #0038ff !important; }
.picklistCT_HelpDesk_ticketstatus_Answered { color: #0038ff !important; }
.picklistLb_HelpDesk_ticketstatus_Answered { background: #0038ff; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_Wait_For_Response { border-color: #ffa800 !important; }
.picklistCBg_HelpDesk_ticketstatus_Wait_For_Response { background: #ffa800 !important; }
.picklistCT_HelpDesk_ticketstatus_Wait_For_Response { color: #ffa800 !important; }
.picklistLb_HelpDesk_ticketstatus_Wait_For_Response { background: #ffa800; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_PLL_SUBMITTED_COMMENTS { border-color: #fff500 !important; }
.picklistCBg_HelpDesk_ticketstatus_PLL_SUBMITTED_COMMENTS { background: #fff500 !important; }
.picklistCT_HelpDesk_ticketstatus_PLL_SUBMITTED_COMMENTS { color: #fff500 !important; }
.picklistLb_HelpDesk_ticketstatus_PLL_SUBMITTED_COMMENTS { background: #fff500; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_In_Progress { border-color: #42c6ff !important; }
.picklistCBg_HelpDesk_ticketstatus_In_Progress { background: #42c6ff !important; }
.picklistCT_HelpDesk_ticketstatus_In_Progress { color: #42c6ff !important; }
.picklistLb_HelpDesk_ticketstatus_In_Progress { background: #42c6ff; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_PLL_FOR_APPROVAL { border-color: #8c4381 !important; }
.picklistCBg_HelpDesk_ticketstatus_PLL_FOR_APPROVAL { background: #8c4381 !important; }
.picklistCT_HelpDesk_ticketstatus_PLL_FOR_APPROVAL { color: #8c4381 !important; }
.picklistLb_HelpDesk_ticketstatus_PLL_FOR_APPROVAL { background: #8c4381; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_PLL_TO_CLOSE { border-color: #ffb0e7 !important; }
.picklistCBg_HelpDesk_ticketstatus_PLL_TO_CLOSE { background: #ffb0e7 !important; }
.picklistCT_HelpDesk_ticketstatus_PLL_TO_CLOSE { color: #ffb0e7 !important; }
.picklistLb_HelpDesk_ticketstatus_PLL_TO_CLOSE { background: #ffb0e7; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_Closed { border-color: #00ff43 !important; }
.picklistCBg_HelpDesk_ticketstatus_Closed { background: #00ff43 !important; }
.picklistCT_HelpDesk_ticketstatus_Closed { color: #00ff43 !important; }
.picklistLb_HelpDesk_ticketstatus_Closed { background: #00ff43; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketstatus_Rejected { border-color: #e33d3d !important; }
.picklistCBg_HelpDesk_ticketstatus_Rejected { background: #e33d3d !important; }
.picklistCT_HelpDesk_ticketstatus_Rejected { color: #e33d3d !important; }
.picklistLb_HelpDesk_ticketstatus_Rejected { background: #e33d3d; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketpriorities_Low { border-color: 	#E6FAD8 !important; }
.picklistCBg_HelpDesk_ticketpriorities_Low { background: 	#E6FAD8 !important; }
.picklistCT_HelpDesk_ticketpriorities_Low { color: 	#E6FAD8 !important; }
.picklistLb_HelpDesk_ticketpriorities_Low { background: 	#E6FAD8; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketpriorities_Normal { border-color: 	#E6FAD8 !important; }
.picklistCBg_HelpDesk_ticketpriorities_Normal { background: 	#E6FAD8 !important; }
.picklistCT_HelpDesk_ticketpriorities_Normal { color: 	#E6FAD8 !important; }
.picklistLb_HelpDesk_ticketpriorities_Normal { background: 	#E6FAD8; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketpriorities_High { border-color: 	#E6FAD8 !important; }
.picklistCBg_HelpDesk_ticketpriorities_High { background: 	#E6FAD8 !important; }
.picklistCT_HelpDesk_ticketpriorities_High { color: 	#E6FAD8 !important; }
.picklistLb_HelpDesk_ticketpriorities_High { background: 	#E6FAD8; padding: 2px 7px 3px 7px;}
.picklistCBr_HelpDesk_ticketpriorities_Urgent { border-color: 	#E6FAD8 !important; }
.picklistCBg_HelpDesk_ticketpriorities_Urgent { background: 	#E6FAD8 !important; }
.picklistCT_HelpDesk_ticketpriorities_Urgent { color: 	#E6FAD8 !important; }
.picklistLb_HelpDesk_ticketpriorities_Urgent { background: 	#E6FAD8; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectMilestone_projectmilestone_priority_PLL_LOW { border-color: #3ac4ff !important; }
.picklistCBg_ProjectMilestone_projectmilestone_priority_PLL_LOW { background: #3ac4ff !important; }
.picklistCT_ProjectMilestone_projectmilestone_priority_PLL_LOW { color: #3ac4ff !important; }
.picklistLb_ProjectMilestone_projectmilestone_priority_PLL_LOW { background: #3ac4ff; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectMilestone_projectmilestone_priority_PLL_NORMAL { border-color: #a3ad35 !important; }
.picklistCBg_ProjectMilestone_projectmilestone_priority_PLL_NORMAL { background: #a3ad35 !important; }
.picklistCT_ProjectMilestone_projectmilestone_priority_PLL_NORMAL { color: #a3ad35 !important; }
.picklistLb_ProjectMilestone_projectmilestone_priority_PLL_NORMAL { background: #a3ad35; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectMilestone_projectmilestone_priority_PLL_HIGH { border-color: #db1c1c !important; }
.picklistCBg_ProjectMilestone_projectmilestone_priority_PLL_HIGH { background: #db1c1c !important; }
.picklistCT_ProjectMilestone_projectmilestone_priority_PLL_HIGH { color: #db1c1c !important; }
.picklistLb_ProjectMilestone_projectmilestone_priority_PLL_HIGH { background: #db1c1c; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectTask_projecttaskstatus_Open { border-color: #4998f5 !important; }
.picklistCBg_ProjectTask_projecttaskstatus_Open { background: #4998f5 !important; }
.picklistCT_ProjectTask_projecttaskstatus_Open { color: #4998f5 !important; }
.picklistLb_ProjectTask_projecttaskstatus_Open { background: #4998f5; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectTask_projecttaskstatus_In_Progress { border-color: #e1f398 !important; }
.picklistCBg_ProjectTask_projecttaskstatus_In_Progress { background: #e1f398 !important; }
.picklistCT_ProjectTask_projecttaskstatus_In_Progress { color: #e1f398 !important; }
.picklistLb_ProjectTask_projecttaskstatus_In_Progress { background: #e1f398; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectTask_projecttaskstatus_Completed { border-color: #29d11a !important; }
.picklistCBg_ProjectTask_projecttaskstatus_Completed { background: #29d11a !important; }
.picklistCT_ProjectTask_projecttaskstatus_Completed { color: #29d11a !important; }
.picklistLb_ProjectTask_projecttaskstatus_Completed { background: #29d11a; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectTask_projecttaskstatus_Deferred { border-color: #97c3d6 !important; }
.picklistCBg_ProjectTask_projecttaskstatus_Deferred { background: #97c3d6 !important; }
.picklistCT_ProjectTask_projecttaskstatus_Deferred { color: #97c3d6 !important; }
.picklistLb_ProjectTask_projecttaskstatus_Deferred { background: #97c3d6; padding: 2px 7px 3px 7px;}
.picklistCBr_ProjectTask_projecttaskstatus_Cancelled { border-color: #fc9c9c !important; }
.picklistCBg_ProjectTask_projecttaskstatus_Cancelled { background: #fc9c9c !important; }
.picklistCT_ProjectTask_projecttaskstatus_Cancelled { color: #fc9c9c !important; }
.picklistLb_ProjectTask_projecttaskstatus_Cancelled { background: #fc9c9c; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_prospecting { border-color: #32aade !important; }
.picklistCBg_Project_projectstatus_prospecting { background: #32aade !important; }
.picklistCT_Project_projectstatus_prospecting { color: #32aade !important; }
.picklistLb_Project_projectstatus_prospecting { background: #32aade; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_initiated { border-color: #0075ff !important; }
.picklistCBg_Project_projectstatus_initiated { background: #0075ff !important; }
.picklistCT_Project_projectstatus_initiated { color: #0075ff !important; }
.picklistLb_Project_projectstatus_initiated { background: #0075ff; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_in_progress { border-color: #ddf006 !important; }
.picklistCBg_Project_projectstatus_in_progress { background: #ddf006 !important; }
.picklistCT_Project_projectstatus_in_progress { color: #ddf006 !important; }
.picklistLb_Project_projectstatus_in_progress { background: #ddf006; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_waiting_for_feedback { border-color: #ff0000 !important; }
.picklistCBg_Project_projectstatus_waiting_for_feedback { background: #ff0000 !important; }
.picklistCT_Project_projectstatus_waiting_for_feedback { color: #ff0000 !important; }
.picklistLb_Project_projectstatus_waiting_for_feedback { background: #ff0000; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_on_hold { border-color: #4df7f7 !important; }
.picklistCBg_Project_projectstatus_on_hold { background: #4df7f7 !important; }
.picklistCT_Project_projectstatus_on_hold { color: #4df7f7 !important; }
.picklistLb_Project_projectstatus_on_hold { background: #4df7f7; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_completed { border-color: #73a300 !important; }
.picklistCBg_Project_projectstatus_completed { background: #73a300 !important; }
.picklistCT_Project_projectstatus_completed { color: #73a300 !important; }
.picklistLb_Project_projectstatus_completed { background: #73a300; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_delivered { border-color: #1ccc79 !important; }
.picklistCBg_Project_projectstatus_delivered { background: #1ccc79 !important; }
.picklistCT_Project_projectstatus_delivered { color: #1ccc79 !important; }
.picklistLb_Project_projectstatus_delivered { background: #1ccc79; padding: 2px 7px 3px 7px;}
.picklistCBr_Project_projectstatus_archived { border-color: #a259a8 !important; }
.picklistCBg_Project_projectstatus_archived { background: #a259a8 !important; }
.picklistCT_Project_projectstatus_archived { color: #a259a8 !important; }
.picklistLb_Project_projectstatus_archived { background: #a259a8; padding: 2px 7px 3px 7px;}
.picklistCBr_OSSTimeControl_timecontrol_type_PLL_WORKING_TIME { border-color: #EDC240 !important; }
.picklistCBg_OSSTimeControl_timecontrol_type_PLL_WORKING_TIME { background: #EDC240 !important; }
.picklistCT_OSSTimeControl_timecontrol_type_PLL_WORKING_TIME { color: #EDC240 !important; }
.picklistLb_OSSTimeControl_timecontrol_type_PLL_WORKING_TIME { background: #EDC240; padding: 2px 7px 3px 7px;}
.picklistCBr_OSSTimeControl_timecontrol_type_PLL_BREAK_TIME { border-color: #AFD8F8 !important; }
.picklistCBg_OSSTimeControl_timecontrol_type_PLL_BREAK_TIME { background: #AFD8F8 !important; }
.picklistCT_OSSTimeControl_timecontrol_type_PLL_BREAK_TIME { color: #AFD8F8 !important; }
.picklistLb_OSSTimeControl_timecontrol_type_PLL_BREAK_TIME { background: #AFD8F8; padding: 2px 7px 3px 7px;}
.picklistCBr_OSSTimeControl_timecontrol_type_PLL_HOLIDAY_TIME { border-color: #CB4B4B !important; }
.picklistCBg_OSSTimeControl_timecontrol_type_PLL_HOLIDAY_TIME { background: #CB4B4B !important; }
.picklistCT_OSSTimeControl_timecontrol_type_PLL_HOLIDAY_TIME { color: #CB4B4B !important; }
.picklistLb_OSSTimeControl_timecontrol_type_PLL_HOLIDAY_TIME { background: #CB4B4B; padding: 2px 7px 3px 7px;}
