<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule webservice/(.*)/(.*)/(.*)$ webservice.php?module=$1&action=$2&record=$3 [QSA,NC,L]
	RewriteRule webservice/(.*)/(.*)$ webservice.php?module=$1&action=$2 [QSA,NC,L]
	RewriteRule webservice/(.*)$ webservice.php?action=$1 [QSA,NC,L]

	RewriteRule ^\.well-known/carddav dav.php/addressbooks/ [R]
	RewriteRule ^\.well-known/caldav dav.php/calendars/ [R]
	RewriteRule /.well-known/carddav dav.php/addressbooks/ [R,L]
	RewriteRule /.well-known/caldav dav.php/calendars/ [R,L]
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
	RewriteRule .* - [E=HTTP_CONTENT_TYPE:%{HTTP:Content-Type},L]
</ifModule>
<Files dav.php>
	<IfModule mod_expires.c>
		ExpiresActive Off
	</IfModule>
	<IfModule mod_php5.c>
		php_flag output_buffering On
		php_flag always_populate_raw_post_data Off
		php_flag mbstring.func_overload Off
	</IfModule>
</Files>
