###########################
###########################
## Linter GitHub Actions ##
###########################
###########################
name: Lint Code Base

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#############################
# Start the job on all push #
#############################
on:
  push:
    branches:
      - developer
  pull_request:
    branches:
      - developer
    

###############
# Set the Job #
###############
jobs:
    build:
        # Name the Job
        name: Lint Code Base
        # Set the agent to run on
        runs-on: ubuntu-latest

        ##################
        # Load all steps #
        ##################
        steps:
            ##########################
            # Checkout the code base #
            ##########################
            - name: Checkout Code
              uses: actions/checkout@v2

            ################################
            # Run Linter against code base #
            ################################
            - name: Lint Code Base
              uses: docker://github/super-linter:latest@sha256:232315dcce18a554c2d838491da958060511e29ccae87d112b9e4cf8055133bc
              env:
                  DEFAULT_BRANCH: developer
                  VALIDATE_ALL_CODEBASE: false
                  VALIDATE_PHP: true
                  VALIDATE_JSON: true
                  VALIDATE_YAML: true
                  VALIDATE_XML: true
                  VALIDATE_BASH: true
                  VALIDATE_DOCKER: true
                  VALIDATE_CSS: true
                  VALIDATE_OPENAPI: true
